{"swagger":"2.0","info":{"title":"Cybersource Payments REST API","description":"Move your business forward with the Cybersource Payments REST API","version":"2.0.0","contact":{"name":"Cybersource","url":"http://www.cybersource.com/about/contact_us/"}},"host":"apitest.cybersource.com","schemes":["https"],"basePath":"/","consumes":["application/json;charset=utf-8"],"produces":["application/hal+json;charset=utf-8"],"x-devcenter-metaData":{"categoryTagArray":[{"name":"Payments","description":"For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html)."},{"name":"Transaction_Batches","description":"For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html)."},{"name":"eCheck_AVS","description":"For more information about eCheck Account Validation, see the [Account Validation Developer Guides Page](https://...)."}]},"tags":[{"name":"payments","description":"A payment authorizes the amount for the transaction. There are a number of supported payment\ninstruments, such as Credit Card, Debit Card, e-Wallet, and Alternative Payments. A payment\nresponse includes the status of the request. It also includes processor-specific information\nwhen the request is successful and errors if unsuccessful.\n"},{"name":"capture","description":"When you are ready to fulfill a customer\u2019s order and transfer funds from the customer\u2019s\nbank to your bank, capture the payment for that order.\n"},{"name":"reversal","description":"An authorization reversal releases the hold that the payment placed on the customer\u2019s funds."},{"name":"refund","description":"A refund is a follow-on transaction that uses the ID returned from either a payment or capture request.\n"},{"name":"credit","description":"A credit is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"},{"name":"void","description":"A void cancels a payment or capture. A transaction can be voided only when CyberSource has not already\nsubmitted the capture to your processor. You cannot undo a void.\n"},{"name":"options","description":"An option is a service that is used to retrieve meta data, rendering details and different payment options available from Cybersource.\nIt can be used in many ways and Merchants must consult their Technical Partner in Cybersource for further details.\n"},{"name":"TransactionBatches","description":"Get a list of batch files or details of Individual file processed through the Offline Transaction Submission Services.\n"},{"name":"AccountValidations","description":"A eCheck account validation enable you to determine, in real time, whether to\nproceed with an electronic check debit or the creation of a recurring electronic check\nsubscription.\n"},{"name":"billingAgreements","description":"A billingAgreement is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"},{"name":"orders","description":"An order is a service that is used for initiating a transaction with itemized details, shipping, billing and buyer information. \n"},{"name":"payment-tokens","description":"A payment-tokens is a service that is used for retrieving vault details or deleting vault id/payment method.\n"}],"paths":{"/pts/v2/payments/{id}/voids":{"post":{"summary":"Void a Payment","description":"Void a Payment API is only used, if you have requested Authorization and Capture together in [/pts/v2/payments](https://developer.cybersource.com/api-reference-assets/index.html#payments_payments) API call. Include the payment ID in the POST request to cancel the payment.\n","tags":["void"],"operationId":"voidPayment","x-devcenter-metaData":{"categoryTag":"Payments","developerGuides":"https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html"},"parameters":[{"name":"voidPaymentRequest","in":"body","required":true,"schema":{"type":"object","properties":{"clientReferenceInformation":{"type":"object","properties":{"code":{"type":"string","maxLength":50,"description":"Merchant-generated order reference or tracking number. It is recommended that you send a unique value for each\ntransaction so that you can perform meaningful searches for the transaction.\n\n#### Used by\n**Authorization**\nRequired field.\n\n#### PIN Debit\nRequests for PIN debit reversals need to use the same merchant reference number that was used in the transaction that is being\nreversed.\n\nRequired field for all PIN Debit requests (purchase, credit, and reversal).\n\n#### FDC Nashville Global\nCertain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.\n"},"pausedRequestId":{"type":"string","maxLength":26,"description":"Used to resume a transaction that was paused for an order modification rule to allow for payer authentication to complete. To resume and continue with the authorization/decision service flow, call the services and include the request id from the prior decision call.\n"},"comments":{"type":"string","description":"Brief description of the order or any comment you wish to add to the order."},"partner":{"type":"object","properties":{"developerId":{"type":"string","maxLength":8,"description":"Identifier for the developer that helped integrate a partner solution to CyberSource.\n\nSend this value in all requests that are sent through the partner solutions built by that developer.\nCyberSource assigns the ID to the developer.\n\n**Note** When you see a developer ID of 999 in reports, the developer ID that was submitted is incorrect.\n"},"solutionId":{"type":"string","maxLength":8,"description":"Identifier for the partner that is integrated to CyberSource.\n\nSend this value in all requests that are sent through the partner solution. CyberSource assigns the ID to the partner.\n\n**Note** When you see a solutionId of 999 in reports, the solutionId that was submitted is incorrect.\n"},"thirdPartyCertificationNumber":{"type":"string","maxLength":12,"description":"Value that identifies the application vendor and application version for a third party gateway.\nCyberSource provides you with this value during testing and validation.\nThis field is supported only on CyberSource through VisaNet.\n\n#### Used by\n**Authorization, Authorization Reversal, Capture, Credit, Incremental Authorization, and Void**\nOptional field.\n\n#### PIN debit\nRequired field for PIN debit credit, PIN debit purchase, or PIN debit reversal request.\n"}}},"applicationName":{"type":"string","description":"The name of the Connection Method client (such as Virtual Terminal or SOAP Toolkit API) that the merchant uses to send a transaction request to CyberSource.\n"},"applicationVersion":{"type":"string","description":"Version of the CyberSource application or integration used for a transaction.\n"},"applicationUser":{"type":"string","description":"The entity that is responsible for running the transaction and submitting the processing request to CyberSource. This could be a person, a system, or a connection method.\n"},"reconciliationId":{"type":"string","maxLength":60,"description":"Reference number for the transaction.\nDepending on how your Cybersource account is configured, this value could either be provided in the API request or generated by CyberSource.\nThe actual value used in the request to the processor is provided back to you by Cybersource in the response.\n"},"transactionId":{"type":"string","maxLength":30,"description":"Identifier that you assign to the transaction. Normally generated by a client server to identify a unique API request.\n\n**Note** Use this field only if you want to support merchant-initiated reversal and void operations.\n\n#### Used by\n**Authorization, Authorization Reversal, Capture, Credit, and Void**\nOptional field.\n\n#### PIN Debit\nFor a PIN debit reversal, your request must include a request ID or a merchant transaction identifier.\nOptional field for PIN debit purchase or credit requests.\n"}}},"paymentInformation":{"type":"object","properties":{"paymentType":{"type":"object","properties":{"name":{"type":"string","description":"A Payment Type is an agreed means for a payee to receive legal tender from a payer. The way one pays for a commercial financial transaction. Examples: Card, Bank Transfer, Digital, Direct Debit.\nPossible values:\n- `CARD` (use this for a PIN debit transaction)\n- `CHECK` (use this for all eCheck payment transactions - ECP Debit, ECP Follow-on Credit, ECP StandAlone Credit)\n- `bankTransfer` (use for Online Bank Transafer for methods such as P24, iDeal, Estonia Bank, KCP)\n- `localCard` (KCP Local card via Altpay)\n- `carrierBilling` (KCP Carrier Billing via Altpay)\n"},"subTypeName":{"type":"string","description":"In case the APM supports multiple modes of initiation (e.g. Alipay via QR Code or Barcode)\n"},"method":{"type":"object","properties":{"name":{"type":"string","description":"A Payment Type is enabled through a Method. Examples: Visa, Master Card, ApplePay, iDeal, 7Eleven, alfamart, bofaPayByBank, payToPayByBank, etc\n\nFor Japan Payment Processing Valid Values:\n- 1 Banking Data\n- 2 Authorization Data\n\n#### Via KCP\n- `KCP` : Local Card, Bank Transfer and Carrier Billing.\n- `PAYCO`\n- `KAKAOPAY`\n- `NAVERPAY`\n"}}}}}}},"orderInformation":{"type":"object","properties":{"amountDetails":{"type":"object","properties":{"totalAmount":{"type":"string","maxLength":19,"description":"Grand total for the order. This value cannot be negative. You can include a decimal point (.), but no other special characters.\nCyberSource truncates the amount to the correct number of decimal places.\n\n**Note** For CTV, FDCCompass, Paymentech processors, the maximum length for this field is 12.\n\n**Important** Some processors have specific requirements and limitations, such as maximum amounts and maximum field lengths.\n\nIf your processor supports zero amount authorizations, you can set this field to 0 for the authorization to check if the card is lost or stolen. \n\n#### Card Present\nRequired to include either this field or `orderInformation.lineItems[].unitPrice` for the order.\n\n#### Invoicing / Pay By Link\nRequired for creating a new invoice or payment link.\n\n#### PIN Debit\nAmount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount.\n\nRequired field for PIN Debit purchase and PIN Debit credit requests.\nOptional field for PIN Debit reversal requests.\n\n#### GPX\nThis field is optional for reversing an authorization or credit; however, for all other processors, these fields are required.\n\n#### DCC with a Third-Party Provider\nSet this field to the converted amount that was returned by the DCC provider. You must include either this field or the 1st line item in the order and the specific line-order amount in your request. \n\n#### DCC for First Data\nNot used.\n"},"currency":{"type":"string","maxLength":3,"description":"Currency used for the order. Use the three-character [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)\n\n#### Used by\n**Authorization**\nRequired field.\n\n**Authorization Reversal**\nFor an authorization reversal (`reversalInformation`) or a capture (`processingOptions.capture` is set to `true`), you must use the same currency that you used in your payment authorization request.\n\n#### PIN Debit\nCurrency for the amount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount. For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).\nReturned by PIN debit purchase.\n\nFor PIN debit reversal requests, you must use the same currency that was used for the PIN debit purchase or PIN debit credit that you are reversing.\nFor the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).\n\nRequired field for PIN Debit purchase and PIN Debit credit requests.\nOptional field for PIN Debit reversal requests.\n\n#### GPX\nThis field is optional for reversing an authorization or credit.\n\n#### DCC for First Data\nYour local currency.\n\n#### Tax Calculation\nRequired for international tax and value added tax only.\nOptional for U.S. and Canadian taxes.\nYour local currency.\n"}}}}},"agreementInformation":{"type":"object","properties":{"agreementId":{"type":"string","maxLength":50,"description":"Value of the returned in the billing agreement service response.\n"}}},"merchantInformation":{"type":"object","properties":{"transactionLocalDateTime":{"type":"string","maxLength":16,"description":"Local Time of the transaction\nSet the timestamp for the exchange rate by ISO 8601 UTC format.\nFormat: \u201cYYYYMMdd\u2019T\u2019HHmmss\u2019Z\u2019\u201d  (20151103T123456Z)\n"}}},"processingInformation":{"type":"object","properties":{"actionList":{"type":"array","description":"Array of actions (one or more) to be included in the void to invoke bundled services along with void.\nPossible values:\n- `AP_CANCEL`: Use this when Alternative Payment Void service is requested.\n","items":{"type":"string"}}}}},"example":{"clientReferenceInformation":{"transactionId":""}}}},{"name":"id","in":"path","description":"The payment ID returned from a previous payment request.","required":true,"type":"string"}],"responses":{"201":{"description":"Successful response.","schema":{"title":"ptsV2PaymentsVoidsPost201Response","type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"This is the endpoint of the resource that was created by the successful request."},"method":{"type":"string","description":"`method` refers to the HTTP method that you can send to the `self` endpoint to retrieve details of the resource."}}}}},"id":{"type":"string","maxLength":26,"description":"An unique identification number generated by Cybersource to identify the submitted request. Returned by all services.\nIt is also appended to the endpoint of the resource.\nOn incremental authorizations, this value with be the same as the identification number returned in the original authorization response.\n"},"submitTimeUtc":{"type":"string","description":"Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\nThe `T` separates the date and the time. The `Z` indicates UTC.\n\nReturned by Cybersource for all services.\n"},"status":{"type":"string","description":"The status of the submitted transaction.\n\nPossible values:\n - VOIDED\n - CANCELLED\n - FAILED\n"},"clientReferenceInformation":{"type":"object","properties":{"code":{"type":"string","maxLength":50,"description":"Merchant-generated order reference or tracking number. It is recommended that you send a unique value for each\ntransaction so that you can perform meaningful searches for the transaction.\n\n#### Used by\n**Authorization**\nRequired field.\n\n#### PIN Debit\nRequests for PIN debit reversals need to use the same merchant reference number that was used in the transaction that is being\nreversed.\n\nRequired field for all PIN Debit requests (purchase, credit, and reversal).\n\n#### FDC Nashville Global\nCertain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.\n"},"submitLocalDateTime":{"type":"string","maxLength":14,"description":"Date and time at your physical location.\n\nFormat: `YYYYMMDDhhmmss`, where YYYY = year, MM = month, DD = day, hh = hour, mm = minutes ss = seconds\n\n#### PIN Debit\nOptional field for PIN Debit purchase and credit requests.\n"},"ownerMerchantId":{"type":"string","description":"Merchant ID that was used to create the subscription or customer profile for which the service was requested.\n\nIf your CyberSource account is enabled for Recurring Billing, this field is returned only if you are using\nsubscription sharing and if your merchant ID is in the same merchant ID pool as the owner merchant ID.\n\nIf your CyberSource account is enabled for Payment Tokenization, this field is returned only if you are using\nprofile sharing and if your merchant ID is in the same merchant ID pool as the owner merchant ID.\n"}}},"voidAmountDetails":{"type":"object","properties":{"voidAmount":{"type":"string","description":"Total amount of the void.\n\n#### PIN Debit\nAmount of the reversal.\n\nReturned by PIN debit reversal.\n"},"originalTransactionAmount":{"type":"string","description":"Amount of the original transaction."},"currency":{"type":"string","maxLength":3,"description":"Currency used for the order. Use the three-character [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)\n\n#### Used by\n**Authorization**\nRequired field.\n\n**Authorization Reversal**\nFor an authorization reversal (`reversalInformation`) or a capture (`processingOptions.capture` is set to `true`), you must use the same currency that you used in your payment authorization request.\n\n#### PIN Debit\nCurrency for the amount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount. For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).\nReturned by PIN debit purchase.\n\nFor PIN debit reversal requests, you must use the same currency that was used for the PIN debit purchase or PIN debit credit that you are reversing.\nFor the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).\n\nRequired field for PIN Debit purchase and PIN Debit credit requests.\nOptional field for PIN Debit reversal requests.\n\n#### GPX\nThis field is optional for reversing an authorization or credit.\n\n#### DCC for First Data\nYour local currency.\n\n#### Tax Calculation\nRequired for international tax and value added tax only.\nOptional for U.S. and Canadian taxes.\nYour local currency.\n"}}},"processorInformation":{"type":"object","properties":{"responseCode":{"type":"string","maxLength":10,"description":"For most processors, this is the error message sent directly from the bank. Returned only when the processor\nreturns this value.\n\n**Important** Do not use this field to evaluate the result of the authorization.\n\n#### PIN debit\nResponse value that is returned by the processor or bank.\n**Important** Do not use this field to evaluate the results of the transaction request.\n\nReturned by PIN debit credit, PIN debit purchase, and PIN debit reversal.\n\n#### AIBMS\nIf this value is `08`, you can accept the transaction if the customer provides you with identification.\n\n#### Atos\nThis value is the response code sent from Atos and it might also include the response code from the bank.\nFormat: `aa,bb` with the two values separated by a comma and where:\n- `aa` is the two-digit error message from Atos.\n- `bb` is the optional two-digit error message from the bank.\n\n#### Comercio Latino\nThis value is the status code and the error or response code received from the processor separated by a colon.\nFormat: [status code]:E[error code] or [status code]:R[response code]\nExample `2:R06`\n\n#### JCN Gateway\nProcessor-defined detail error code. The associated response category code is in the `processorInformation.responseCategoryCode` field.\nString (3)\n\n#### paypalgateway\nProcessor generated ID for the itemized detail.\n"},"responseDetails":{"type":"string","maxLength":60,"description":"The reason for when the transaction status is Pending or Reversed.\nPossible values:\n- `PAYER_SHIPPING_UNCONFIRMED`\n- `MULTI_CURRENCY`\n- `RISK_REVIEW`\n- `REGULATORY_REVIEW`\n- `VERIFICATION_REQUIRED`\n- `ORDER`\n- `OTHER`\n"},"transactionId":{"type":"string","description":"Identifier of the order transaction.\n"}}},"reconciliationId":{"type":"string","maxLength":60,"description":"Reference number that you use to reconcile CyberSource reports with your reports.\n"}},"example":{"_links":{"self":{"href":"/pts/v2/voids/4963015122056179201545","method":"GET"}},"id":"4963015122056179201545","submitTimeUtc":"2017-06-01T071832Z","status":"VOIDED","clientReferenceInformation":{"transactionId":"909080801"},"orderInformation":{"amountDetails":{"currency":"USD"}},"voidAmountDetails":{"currency":"usd","voidAmount":"102.21"}}}},"400":{"description":"Invalid request.","schema":{"title":"ptsV2PaymentsVoidsPost400Response","type":"object","properties":{"submitTimeUtc":{"type":"string","description":"Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\nThe `T` separates the date and the time. The `Z` indicates UTC.\n\nReturned by Cybersource for all services.\n"},"status":{"type":"string","description":"The status of the submitted transaction.\n\nPossible values:\n - INVALID_REQUEST\n"},"reason":{"type":"string","description":"The reason of the status.\n\nPossible values:\n - MISSING_FIELD\n - INVALID_DATA\n - DUPLICATE_REQUEST\n - INVALID_MERCHANT_CONFIGURATION\n - NOT_VOIDABLE\n - NOT_SUPPORTED\n"},"message":{"type":"string","description":"The detail message related to the status and reason listed above."},"details":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"This is the flattened JSON object field name/path that is either missing or invalid."},"reason":{"type":"string","description":"Possible reasons for the error.\n\nPossible values:\n - MISSING_FIELD\n - INVALID_DATA\n"}}}}}}},"502":{"description":"Unexpected system error or system timeout.","schema":{"title":"ptsV2PaymentsVoidsPost502Response","type":"object","properties":{"submitTimeUtc":{"type":"string","description":"Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\nThe `T` separates the date and the time. The `Z` indicates UTC.\n\nReturned by Cybersource for all services.\n"},"status":{"type":"string","description":"The status of the submitted transaction.\n\nPossible values:\n - SERVER_ERROR\n"},"reason":{"type":"string","description":"The reason of the status.\n\nPossible values:\n - SYSTEM_ERROR\n - SERVER_TIMEOUT\n - SERVICE_TIMEOUT\n"},"message":{"type":"string","description":"The detail message related to the status and reason listed above."}}}}},"x-example":{"example0":{"summary":"Void a Payment","value":{"clientReferenceInformation":{"code":"test_void"}},"depends":{"example":{"path":"/pts/v2/payments","verb":"post","exampleId":"example0"},"fieldMapping":[{"sourceField":"id","destinationField":"id","fieldTypeInDestination":"path"}]}},"example1":{"summary":"Pin Debit Purchase Reversal - Void","value":{"clientReferenceInformation":{"code":"Pin Debit Purchase Reversal(Void)"},"orderInformation":{"amountDetails":{"totalAmount":"202.00","currency":"USD"}},"paymentInformation":{"paymentType":{"name":"CARD","subTypeName":"DEBIT"}}},"depends":{"example":{"path":"/pts/v2/payments","verb":"post","exampleId":"example1"},"fieldMapping":[{"sourceField":"id","destinationField":"id","fieldTypeInDestination":"path"}]}},"example2":{"summary":"EBT - Reversal of Purchase from SNAP Account","value":{"clientReferenceInformation":{"code":"Reversal of Purchase from SNAP Account"},"orderInformation":{"amountDetails":{"totalAmount":"101.00","currency":"USD"}},"paymentInformation":{"card":{"type":"001"},"paymentType":{"name":"CARD","subTypeName":"DEBIT"}}},"depends":{"example":{"path":"/pts/v2/payments","verb":"post","exampleId":"example2"},"fieldMapping":[{"sourceField":"id","destinationField":"id","fieldTypeInDestination":"path"}]}}}}}}}