{"swagger":"2.0","info":{"title":"Cybersource Payments REST API","description":"Move your business forward with the Cybersource Payments REST API","version":"2.0.0","contact":{"name":"Cybersource","url":"http://www.cybersource.com/about/contact_us/"}},"host":"apitest.cybersource.com","schemes":["https"],"basePath":"/","consumes":["application/json;charset=utf-8"],"produces":["application/hal+json;charset=utf-8"],"x-devcenter-metaData":{"categoryTagArray":[{"name":"Payments","description":"For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html)."},{"name":"Transaction_Batches","description":"For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html)."},{"name":"eCheck_AVS","description":"For more information about eCheck Account Validation, see the [Account Validation Developer Guides Page](https://...)."}]},"tags":[{"name":"payments","description":"A payment authorizes the amount for the transaction. There are a number of supported payment\ninstruments, such as Credit Card, Debit Card, e-Wallet, and Alternative Payments. A payment\nresponse includes the status of the request. It also includes processor-specific information\nwhen the request is successful and errors if unsuccessful.\n"},{"name":"capture","description":"When you are ready to fulfill a customer\u2019s order and transfer funds from the customer\u2019s\nbank to your bank, capture the payment for that order.\n"},{"name":"reversal","description":"An authorization reversal releases the hold that the payment placed on the customer\u2019s funds."},{"name":"refund","description":"A refund is a follow-on transaction that uses the ID returned from either a payment or capture request.\n"},{"name":"credit","description":"A credit is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"},{"name":"void","description":"A void cancels a payment or capture. A transaction can be voided only when CyberSource has not already\nsubmitted the capture to your processor. You cannot undo a void.\n"},{"name":"options","description":"An option is a service that is used to retrieve meta data, rendering details and different payment options available from Cybersource.\nIt can be used in many ways and Merchants must consult their Technical Partner in Cybersource for further details.\n"},{"name":"TransactionBatches","description":"Get a list of batch files or details of Individual file processed through the Offline Transaction Submission Services.\n"},{"name":"AccountValidations","description":"A eCheck account validation enable you to determine, in real time, whether to\nproceed with an electronic check debit or the creation of a recurring electronic check\nsubscription.\n"},{"name":"billingAgreements","description":"A billingAgreement is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"},{"name":"orders","description":"An order is a service that is used for initiating a transaction with itemized details, shipping, billing and buyer information. \n"},{"name":"payment-tokens","description":"A payment-tokens is a service that is used for retrieving vault details or deleting vault id/payment method.\n"}],"paths":{"/pts/v2/intents":{"post":{"summary":"Create an Order","description":"A create order request enables you to send the itemized details along with the order. This API can be used by merchants initiating their transactions with the create order API. \n","tags":["orders"],"operationId":"createOrder","x-devcenter-metaData":{"categoryTag":"Payments"},"parameters":[{"name":"createOrderRequest","in":"body","required":true,"schema":{"type":"object","properties":{"clientReferenceInformation":{"type":"object","properties":{"reconciliationId":{"type":"string","maxLength":60,"description":"Reference number for the transaction.\nDepending on how your Cybersource account is configured, this value could either be provided in the API request or generated by CyberSource.\nThe actual value used in the request to the processor is provided back to you by Cybersource in the response.\n"}}},"processingInformation":{"type":"object","properties":{"processingInstruction":{"type":"string","maxLength":36,"description":"The instruction to process an order.\n- default value: 'NO_INSTRUCTION'\n- 'ORDER_SAVED_EXPLICITLY'\n"},"authorizationOptions":{"type":"object","properties":{"authType":{"type":"string","maxLength":15,"description":"Authorization type. Possible values:\n\n - `AUTOCAPTURE`: automatic capture.\n - `STANDARDCAPTURE`: standard capture.\n - `VERBAL`: forced capture. Include it in the payment request for a forced capture. Include it in the capture request for a verbal payment.\n\n#### Asia, Middle East, and Africa Gateway; Cielo; Comercio Latino; and CyberSource Latin American Processing\nSet this field to `AUTOCAPTURE` and include it in a bundled request to indicate that you are requesting an automatic capture. If your account is configured to enable automatic captures, set this field to `STANDARDCAPTURE` and include it in a standard authorization or bundled request to indicate that you are overriding an automatic capture.\n\n#### Forced Capture\nSet this field to `VERBAL` and include it in the authorization request to indicate that you are performing a forced capture; therefore, you receive the authorization code outside the CyberSource system.\n\n#### Verbal Authorization\nSet this field to `VERBAL` and include it in the capture request to indicate that the request is for a verbal authorization.\n\n#### for PayPal ptsV2CreateOrderPost400Response\nSet this field to 'AUTHORIZE' or 'CAPTURE' depending on whether you want to invoke delayed capture or sale respectively.\n"}}},"actionList":{"type":"array","description":"Array of actions (one or more) to be included in the order to invoke bundled services along with order.\nPossible values:\n- `AP_ORDER`: Use this when Alternative Payment Order service is requested.\n","items":{"type":"string"}},"highRiskTransactionFlag":{"type":"string","description":"Indicates if the transaction is flagged as high risk.\n"},"transactionRetry":{"type":"string","description":"Indicates if the transaction is a retry.\n"},"lastOneHrTransactionCount":{"type":"string","description":"The number of transactions in the last one hour.\n"},"lastOneDayTransactionCount":{"type":"string","description":"The number of transactions in the last one day.\n"},"lastThreeMonthsTxnCount":{"type":"string","description":"The number of transactions in the last three months.\n"},"totalTransactionCount":{"type":"string","description":"The total number of transactions.\n"},"pinVerification":{"type":"string","description":"Indicates if PIN verification is required.\n"},"faceIdVerification":{"type":"string","description":"Indicates if face ID verification is required.\n"},"userPassedVerification":{"type":"string","description":"Indicates if the user passed verification.\n"},"ipAddress":{"type":"string","description":"The IP address of the user.\n"},"transactionDate":{"type":"string","description":"The date of the transaction.\n"},"tangible":{"type":"string","description":"Indicates if the transaction involves tangible goods.\n"}}},"merchantInformation":{"type":"object","properties":{"merchantDescriptor":{"type":"object","properties":{"name":{"type":"string","description":"Your merchant name.\n\n**Note** For Paymentech processor using Cybersource Payouts, the maximum data length is 22.\n\n#### PIN debit\nYour business name. This name is displayed on the cardholder\u2019s statement. When you\ninclude more than one consecutive space, extra spaces are removed.\n\nWhen you do not include this value in your PIN debit request, the merchant name from your account is used.\n**Important** This value must consist of English characters.\n\nOptional field for PIN debit credit or PIN debit purchase requests.\n\n#### Airline processing\nYour merchant name. This name is displayed on the cardholder\u2019s statement. When you include more than one consecutive space, extra spaces are removed.\n\n**Note** Some airline fee programs may require the original ticket number (ticket identifier) or the ancillary service description in positions 13 through 23 of this field.\n\n**Important** This value must consist of English characters.\n\nRequired for captures and credits.\n"},"email":{"type":"string","maxLength":254,"description":"Email address of the merchant."}}},"cancelUrl":{"type":"string","maxLength":255,"description":"customer would be redirected to this url based on the decision of the transaction"},"successUrl":{"type":"string","maxLength":255,"description":"customer would be redirected to this url based on the decision of the transaction"}}},"paymentInformation":{"type":"object","properties":{"paymentType":{"type":"object","properties":{"name":{"type":"string","description":"A Payment Type is an agreed means for a payee to receive legal tender from a payer. The way one pays for a commercial financial transaction. Examples: Card, Bank Transfer, Digital, Direct Debit.\nPossible values:\n- `CARD` (use this for a PIN debit transaction)\n- `CHECK` (use this for all eCheck payment transactions - ECP Debit, ECP Follow-on Credit, ECP StandAlone Credit)\n- `bankTransfer` (use for Online Bank Transafer for methods such as P24, iDeal, Estonia Bank, KCP)\n- `localCard` (KCP Local card via Altpay)\n- `carrierBilling` (KCP Carrier Billing via Altpay)\n"},"method":{"type":"object","properties":{"name":{"type":"string","description":"A Payment Type is enabled through a Method. Examples: Visa, Master Card, ApplePay, iDeal, 7Eleven, alfamart, etc\n#### Via PayPal ptsV2CreateOrderPost201Response\n  - 'payPal'\n  - 'venmo'\n"}}}}},"tokenizedPaymentMethod":{"type":"object","properties":{"description":{"type":"string","maxLength":128,"description":"Description of the vaulted payment method shown to the buyer during checkout and in their PayPal account.\n"},"usagePattern":{"type":"string","maxLength":30,"description":"Indicates how the merchant will primarily use the vaulted payment method. Valid values:\n- \u201cIMMEDIATE\u201d: For on-demand, instant payments. These payments are variable in both amount and frequency and will be used to pay for goods or services before they are rendered to the buyer\n- \u201cDEFERRED\u201d: For post-pay payments; that is, payments for goods or services that have already been rendered to the buyer\n- \u201cRECURRING_PREPAID\u201d: For recurring payments before services are rendered.\n- \u201cRECURRING_POSTPAID\u201d: For recurring payments after services are rendered.\n- \u201cTHRESHOLD_PREPAID\u201d: For payments when a pre-defined threshold is reached before services are rendered.\n- \u201cTHRESHOLD_POSTPAID\u201d: For payments when a pre-defined threshold is reached after services are rendered.\n"},"usageType":{"type":"string","maxLength":255,"description":"Indicates the type of vaulting relationship. Valid values:\n- \u201cMERCHANT\u201d: Single merchant relationship.\n- \u201cPLATFORM\u201d: Platform hosting multiple merchants.\n"},"allowMultipleTokens":{"type":"string","description":"Create multiple payment tokens for the same payer, merchant/platform combination. This helps to identify customers distinctly even though they may share the same PayPal account.\n"}}},"industryType":{"type":"string","description":"Indicates the industry type. Possible Values:\n- \u201cEvents\u201d\n- \"Ticketing\"\n- \"Fuel\"\n- \"GAMING\"\n- \"DIGITAL GOODS\"\n- \"TELCO\"\n- \"Token Service Providers\"\n- \"Gambling\"\n- \"CFDs\"\n- \"car rental\"\n- \"hotel\"\n- \"transportation\"\n- \"travel package\"\n- \"Cruise Line\"\n- \"P2P\"\n- \"Retail\"\n- \"Food\"\n- \"Groceries\"\n- \"Ride Sharing\"\n- \"Taxi\"\n- \"Remittance\"\n- \"Crypto\"\n- \"Marketplaces\"\n"},"eWallet":{"type":"object","properties":{"accountId":{"type":"string","maxLength":26,"description":"The unique ID for a customer generated by PayPal.\n"}}}}},"orderInformation":{"type":"object","properties":{"amountDetails":{"type":"object","properties":{"totalAmount":{"type":"string","maxLength":32,"description":"Grand total for the order. This value cannot be negative. You can include a decimal point (.), but you cannot include any other special characters. CyberSource truncates the amount to the correct number of decimal places\n"},"currency":{"type":"string","maxLength":3,"description":"Currency used for the order\n"},"discountAmount":{"type":"string","maxLength":32,"description":"Discount amount for the transaction. \n"},"shippingAmount":{"type":"string","maxLength":32,"description":"Aggregate shipping charges for the transactions.\n"},"shippingDiscountAmount":{"type":"string","maxLength":32,"description":"Shipping discount amount for the transaction. \n"},"taxAmount":{"type":"string","maxLength":32,"description":"Total tax amount. \n"},"insuranceAmount":{"type":"string","maxLength":32,"description":"Amount being charged for the insurance fee. \n"},"dutyAmount":{"type":"string","maxLength":32,"description":"Amount being charged as duty amount.            \n"}}},"billTo":{"type":"object","properties":{"email":{"type":"string","minLength":3,"maxLength":254,"description":"Email address of the PayPal account holder.\n"}}},"shipTo":{"type":"object","properties":{"firstName":{"type":"string","maxLength":60,"description":"First name of the recipient.\n\n#### Litle\nMaximum length: 25\n\n#### All other processors\nMaximum length: 60\n\nOptional field.\n"},"lastName":{"type":"string","maxLength":60,"description":"Last name of the recipient.\n\n#### Litle\nMaximum length: 25\n\n#### All other processors\nMaximum length: 60\n\nOptional field.\n"},"address1":{"type":"string","maxLength":60,"description":"First line of the shipping address.\n\nRequired field for authorization if any shipping address information is included in the request; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"address2":{"type":"string","maxLength":60,"description":"Second line of the shipping address.\n\nOptional field.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"locality":{"type":"string","maxLength":50,"description":"City of the shipping address.\n\nRequired field for authorization if any shipping address information is included in the request and shipping to the U.S. or\nCanada; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"administrativeArea":{"type":"string","maxLength":50,"description":"State or province of the shipping address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf) (maximum length: 2) \n\nRequired field for authorization if any shipping address information is included in the request and shipping to the U.S.\nor Canada; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"postalCode":{"type":"string","maxLength":32,"description":"Postal code for the shipping address. The postal code must consist of 5 to 9 digits.\n\nRequired field for authorization if any shipping address information is included in the request and\nshipping to the U.S. or Canada; otherwise, optional.\n\nWhen the billing country is the U.S., the 9-digit postal code must follow this format:\n[5 digits][dash][4 digits]\n\nExample 12345-6789\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n[alpha][numeric][alpha][space][numeric][alpha][numeric]\n\nExample A1B 2C3\n\n#### American Express Direct\nBefore sending the postal code to the processor, all nonalphanumeric characters are removed and, if the\nremaining value is longer than nine characters, the value is truncated starting from the right side.\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"country":{"type":"string","description":"Country of the shipping address. Use the two-character [ISO Standard Country Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf)\n\nRequired field for authorization if any shipping address information is included in the request; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S., Canadian, international tax, and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n","maxLength":2},"method":{"type":"string","maxLength":10,"description":"Shipping method for the product. Possible values:\n- lowcost: Lowest-cost service\n- sameday: Courier or same-day service\n- oneday: Next-day or overnight service\n- twoday: Two-day service\n- threeday: Three-day service\n- pickup: Store pick-up\n- other: Other shipping method\n- none: No shipping method because product is a service or subscription\nRequired for American Express SafeKey (U.S.).\n"},"email":{"type":"string","description":"Customer's email address, including the full domain name.\n"},"phoneNumber":{"type":"string","description":"Phone number associated with the shipping address.\n"}}},"lineItems":{"type":"array","maxItems":10,"items":{"type":"object","properties":{"productName":{"type":"string","maxLength":255,"description":"For an authorization or capture transaction (`processingOptions.capture` is `true` or `false`),\nthis field is required when `orderInformation.lineItems[].productCode` is not `default` or one of\nthe other values that are related to shipping and/or handling.\n\n#### Tax Calculation\nOptional field for U.S., Canadian, international tax, and value added taxes.\n"},"productDescription":{"type":"string","description":"Brief description of item."},"productSku":{"type":"string","maxLength":255,"description":"Product identifier code. Also known as the Stock Keeping Unit (SKU) code for the product.\n\nFor an authorization or capture transaction (`processingOptions.capture` is set to `true` or `false`), this field is required when `orderInformation.lineItems[].productCode` is not set to **default** or one of the other values that are related to shipping and/or handling.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nFor an authorization or capture transaction (`processingOptions.capture` is set to `true` or `false`), this field is\nrequired when `orderInformation.lineItems[].productCode` is not `default` or one of the values related to shipping and/or handling.\n"},"quantity":{"type":"integer","minimum":1,"maximum":999999999,"default":1,"description":"Number of units for this order. Must be a non-negative integer.\n\nThe default is `1`. For an authorization or capture transaction (`processingOptions.capture` is set to `true` or `false`),\nthis field is required when `orderInformation.lineItems[].productCode` is not `default` or one of the other values\nrelated to shipping and/or handling.\n\n#### Tax Calculation\nOptional field for U.S., Canadian, international tax, and value added taxes.\n"},"typeOfSupply":{"type":"string","maxLength":2,"description":"Flag to indicate whether the purchase is categorized as goods or services.\nPossible values:\n\n - 00: goods\n - 01: services\n"},"unitPrice":{"type":"string","maxLength":15,"description":"Per-item price of the product. This value for this field cannot be negative.\n\nYou must include either this field or the request-level field `orderInformation.amountDetails.totalAmount` in your request.\n\nYou can include a decimal point (.), but you cannot include any other special characters.\nThe value is truncated to the correct number of decimal places.\n\n#### DCC with a Third-Party Provider\nSet this field to the converted amount that was returned by the DCC provider. You must include either\nthe 1st line item in the order and this field, or the request-level field `orderInformation.amountDetails.totalAmount` in your request.\n\n#### Tax Calculation\nRequired field for U.S., Canadian, international and value added taxes.\n\n#### Zero Amount Authorizations\nIf your processor supports zero amount authorizations, you can set this field to 0 for the\nauthorization to check if the card is lost or stolen.\n\n#### Maximum Field Lengths\nFor GPN and JCN Gateway: Decimal (10)\nAll other processors: Decimal (15)\n"},"totalAmount":{"type":"string","maxLength":13,"description":"Total amount for the item. Normally calculated as the unit price times quantity.\n\nWhen `orderInformation.lineItems[].productCode` is \"gift_card\", this is the purchase amount total\nfor prepaid gift cards in major units.\n\nExample: 123.45 USD = 123\n"},"taxAmount":{"type":"string","maxLength":15,"description":"Total tax to apply to the product. This value cannot be negative. The tax amount and the offer amount must\nbe in the same currency. The tax amount field is additive.\n\nThe following example uses a two-exponent currency such as USD:\n\n 1. You include each line item in your request.\n ..- 1st line item has amount=10.00, quantity=1, and taxAmount=0.80\n ..- 2nd line item has amount=20.00, quantity=1, and taxAmount=1.60\n 2. The total amount authorized will be 32.40, not 30.00 with 2.40 of tax included.\n\nOptional field.\n\n#### Airlines processing\nTax portion of the order amount. This value cannot exceed 99999999999999 (fourteen 9s).\nFormat: English characters only.\nOptional request field for a line item.\n\n#### Tax Calculation\nOptional field for U.S., Canadian, international tax, and value added taxes.\n\nNote if you send this field in your tax request, the value in the field will override the tax engine\n"}}}},"invoiceDetails":{"type":"object","properties":{"productDescription":{"type":"string","description":"Brief description of item."}}}}},"senderInformation":{"type":"object","properties":{"account":{"type":"object","properties":{"number":{"type":"string","description":"The account number of the sender.\n"}}},"firstName":{"type":"string","description":"The first name of the sender.\n"},"lastName":{"type":"string","description":"The last name of the sender.\n"},"email":{"type":"string","description":"The email address of the sender.\n"},"phoneNumber":{"type":"string","description":"The phone number of the sender.\n"},"countryCode":{"type":"string","description":"The country code of the sender.\n"},"createDate":{"type":"string","description":"The date when the sender's account was created.\n"},"postalCode":{"type":"string","description":"The postal code of the sender.\n"},"riskPopularityScore":{"type":"string","description":"The risk popularity score of the sender.\n"}}},"eventInformation":{"type":"object","properties":{"date":{"type":"string","description":"The date of the event.\n"},"type":{"type":"string","description":"The type of the event.\n"},"totalTickets":{"type":"string","description":"The total number of tickets for the event.\n"}}},"travelInformation":{"type":"object","properties":{"agency":{"type":"object","properties":{"startDate":{"type":"string","description":"The start date of the agency's service.\n"},"endDate":{"type":"string","description":"The end date of the agency's service.\n"},"changeOfGuest":{"type":"string","description":"Indicates if there is a change of guest.\n"},"countryCode":{"type":"string","description":"The country code of the agency.\n"},"locality":{"type":"string","description":"The locality of the agency.\n"},"postalCode":{"type":"string","description":"The postal code of the agency.\n"}}},"journeyType":{"type":"string","description":"The type of journey.\n"},"actualFinalDestination":{"type":"string","description":"The actual final destination of the travel.\n"}}},"recipientInformation":{"type":"object","properties":{"accountId":{"type":"string","description":"The account ID of the recipient.\n"},"createDate":{"type":"string","description":"The date when the recipient's account was created.\n"},"email":{"type":"string","description":"The email address of the recipient\n"},"countryCode":{"type":"string","description":"The country code of the recipient.\n"},"businessName":{"type":"string","description":"The business name of the recipient.\n"},"riskPopularityScore":{"type":"string","description":"The risk popularity score of the recipient.\n"}}}},"example":{"orderInformation":{"amountDetails":{"totalAmount":"102.21","currency":"USD"},"shipTo":{"country":"US","lastName":"VDP","address1":"201 S. Division St.","postalCode":"48104-2201","locality":"Ann Arbor","administrativeArea":"MI","firstName":"RTS"},"invoiceDescription":{"productDescription":"Description of the product invoice"}},"merchantInformation":{"merchantDescriptor":{"name":"Merchant1","email":"merchant1@gmail.com"}},"processingInformation":{"processingInstruction":"NO_INSTRUCTION","authorizationOptions":{"authType":"AUTHORIZE"},"actionList":"AP_ORDER"},"paymentInformation":{"paymentType":{"method":{"name":"payPal"},"name":"ewallet"}}}}}],"responses":{"201":{"description":"Successful response.","schema":{"title":"ptsV2CreateOrderPost201Response","type":"object","properties":{"submitTimeUtc":{"type":"string","description":"Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\nThe `T` separates the date and the time. The `Z` indicates UTC.\n\nReturned by Cybersource for all services.\n"},"updateTimeUtc":{"type":"string","description":"The date and time when the request was last updated.\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\n"},"status":{"type":"string","description":"The status of the submitted transaction.\nPossible values:\n  - CREATED\n  - SAVED\n  - APPROVED\n  - VOIDED\n  - COMPLETED\n  - PAYER_ACTION_REQUIRED\n"},"reconciliationId":{"type":"string","maxLength":60,"description":"Reference number for the transaction.\nDepending on how your Cybersource account is configured, this value could either be provided in the API request or generated by CyberSource.\nThe actual value used in the request to the processor is provided back to you by Cybersource in the response.\n"},"clientReferenceInformation":{"type":"object","properties":{"code":{"type":"string","maxLength":50,"description":"Merchant-generated order reference or tracking number. It is recommended that you send a unique value for each\ntransaction so that you can perform meaningful searches for the transaction.\n\n#### Used by\n**Authorization**\nRequired field.\n\n#### PIN Debit\nRequests for PIN debit reversals need to use the same merchant reference number that was used in the transaction that is being\nreversed.\n\nRequired field for all PIN Debit requests (purchase, credit, and reversal).\n\n#### FDC Nashville Global\nCertain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.\n"}}},"processorInformation":{"type":"object","properties":{"transactionId":{"type":"string","maxLength":50,"description":"Network transaction identifier (TID). You can use this value to identify a specific transaction when you are\ndiscussing the transaction with your processor. Not all processors provide this value.\n\nReturned by the authorization service.\n\n#### PIN debit\nTransaction identifier generated by the processor.\n\nReturned by PIN debit credit.\n\n#### GPX\nProcessor transaction ID.\n\n#### Cielo\nFor Cielo, this value is the non-sequential unit (NSU) and is supported for all transactions. The value is generated by Cielo or the issuing bank.\n\n#### Comercio Latino\nFor Comercio Latino, this value is the proof of sale or non-sequential unit (NSU) number generated by the acquirers Cielo and Rede, or the issuing bank.\n\n#### CyberSource through VisaNet and GPN\nFor details about this value for CyberSource through VisaNet and GPN, see \"processorInformation.networkTransactionId\" in [REST API Fields](https://developer.cybersource.com/content/dam/docs/cybs/en-us/apifields/reference/all/rest/api-fields.pdf)\n\n#### Moneris\nThis value identifies the transaction on a host system. It contains the following information:\n- Terminal used to process the transaction\n- Shift during which the transaction took place\n- Batch number\n- Transaction number within the batch\nYou must store this value. If you give the customer a receipt, display this value on the receipt.\n\n**Example** For the value\n66012345001069003:\n- Terminal ID = 66012345\n- Shift number = 001\n- Batch number = 069\n- Transaction number = 003\n"},"networkTransactionId":{"type":"string","description":"Same value as `processorInformation.transactionId`"},"paymentUrl":{"type":"string","maxLength":15,"description":"Direct the customer to this URL to complete the payment."}}},"paymentInformation":{"type":"object","properties":{"eWallet":{"type":"object","properties":{"accountId":{"type":"string","maxLength":26,"description":"The ID of the customer, passed in the return_url field by PayPal after customer approval."},"fundingSource":{"type":"string","maxLength":30,"description":"Payment mode for the authorization or order transaction. \uf06e INSTANT_TRANSFER \uf06e MANUAL_BANK_TRANSFER \uf06e DELAYED_TRANSFER \uf06e ECHECK \uf06e UNRESTRICTED (default)\u2014this value is available only when configured by PayPal for the merchant. \uf06eINSTANT"},"fundingSourceSale":{"type":"string","maxLength":30,"description":"Payment method for the unit purchase.\nPossible values:\n- `UNRESTRICTED (default)\u2014this value\nis only available if configured by PayPal\nfor the merchant.`\n- `INSTANT`\n"},"userName":{"type":"string","description":"The Venmo user name chosen by the user, also known as a Venmo handle.\n"}}}}},"buyerInformation":{"type":"object","properties":{"merchantCustomerId":{"type":"string","maxLength":100,"description":"Your identifier for the customer.\n\nWhen a subscription or customer profile is being created, the maximum length for this field for most processors is 30. Otherwise, the maximum length is 100.\n\n#### Comercio Latino\nFor recurring payments in Mexico, the value is the customer\u2019s contract number.\nNote Before you request the authorization, you must inform the issuer of the customer contract numbers that will be used for recurring transactions.\n\n#### Worldpay VAP\nFor a follow-on credit with Worldpay VAP, CyberSource checks the following locations, in the order\ngiven, for a customer account ID value and uses the first value it finds:\n1. `customer_account_id` value in the follow-on credit request\n2. Customer account ID value that was used for the capture that is being credited\n3. Customer account ID value that was used for the original authorization\nIf a customer account ID value cannot be found in any of these locations, then no value is used.\n"}}}},"example":{"submitTimeUtc":"2024-06-01T071957Z","updateTimeUtc":"2024-06-01T071957Z","status":"CREATED","reconciliationId":"39570726X3E1LBQR","clientReferenceInformation":{"code":"DEFAULT"},"processorInformation":{"transactionId":"1234qwerty1234"}}}},"400":{"description":"Invalid request.","schema":{"type":"object","title":"ptsV2CreateOrderPost400Response","properties":{"submitTimeUtc":{"type":"string","description":"Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\nThe `T` separates the date and the time. The `Z` indicates UTC.\n\nReturned by Cybersource for all services.\n"},"status":{"type":"string","description":"The status of the submitted transaction.\n\nPossible values:\n - INVALID_REQUEST\n"},"message":{"type":"string","description":"The detail message related to the status and reason listed above."},"details":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"This is the flattened JSON object field name/path that is either missing or invalid."},"reason":{"type":"string","description":"Possible reasons for the error.\n\nPossible values:\n - MISSING_FIELD\n - INVALID_DATA\n"}}}}}}},"502":{"description":"Unexpected system error or system timeout.","schema":{"title":"ptsV2CreateOrderPost502Response","type":"object","properties":{"submitTimeUtc":{"type":"string","description":"Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\nThe `T` separates the date and the time. The `Z` indicates UTC.\n\nReturned by Cybersource for all services.\n"},"status":{"type":"string","description":"The status of the submitted transaction.\n\nPossible values:\n - SERVER_ERROR\n"},"reason":{"type":"string","description":"The reason of the status.\n\nPossible values:\n - SYSTEM_ERROR\n - SERVER_TIMEOUT\n - SERVICE_TIMEOUT\n"},"message":{"type":"string","description":"The detail message related to the status and reason listed above."}}}}},"x-example":{"example0":{"summary":"Create Order","sample-name":"Create Order","value":{"orderInformation":{"amountDetails":{"totalAmount":"102.21","currency":"USD"},"shipTo":{"country":"US","lastName":"VDP","address1":"201 S. Division St.","postalCode":"48104-2201","locality":"Ann Arbor","administrativeArea":"MI","firstName":"RTS"}},"merchantInformation":{"merchantDescriptor":{"name":"Merchant1","email":"merchant1@gmail.com"}},"processingInformation":{"processingInstruction":"NO_INSTRUCTION","authorizationOptions":{"authType":"AUTHORIZE"},"actionList":"AP_ORDER"},"paymentInformation":{"paymentType":{"method":{"name":"payPal"},"name":"ewallet"}}}}}}}}}