{"swagger":"2.0","info":{"title":"Cybersource Payments REST API","description":"Move your business forward with the Cybersource Payments REST API","version":"2.0.0","contact":{"name":"Cybersource","url":"http://www.cybersource.com/about/contact_us/"}},"host":"apitest.cybersource.com","schemes":["https"],"basePath":"/","consumes":["application/json;charset=utf-8"],"produces":["application/hal+json;charset=utf-8"],"x-devcenter-metaData":{"categoryTagArray":[{"name":"Payments","description":"For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html)."},{"name":"Transaction_Batches","description":"For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html)."},{"name":"eCheck_AVS","description":"For more information about eCheck Account Validation, see the [Account Validation Developer Guides Page](https://...)."}]},"tags":[{"name":"payments","description":"A payment authorizes the amount for the transaction. There are a number of supported payment\ninstruments, such as Credit Card, Debit Card, e-Wallet, and Alternative Payments. A payment\nresponse includes the status of the request. It also includes processor-specific information\nwhen the request is successful and errors if unsuccessful.\n"},{"name":"capture","description":"When you are ready to fulfill a customer\u2019s order and transfer funds from the customer\u2019s\nbank to your bank, capture the payment for that order.\n"},{"name":"reversal","description":"An authorization reversal releases the hold that the payment placed on the customer\u2019s funds."},{"name":"refund","description":"A refund is a follow-on transaction that uses the ID returned from either a payment or capture request.\n"},{"name":"credit","description":"A credit is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"},{"name":"void","description":"A void cancels a payment or capture. A transaction can be voided only when CyberSource has not already\nsubmitted the capture to your processor. You cannot undo a void.\n"},{"name":"options","description":"An option is a service that is used to retrieve meta data, rendering details and different payment options available from Cybersource.\nIt can be used in many ways and Merchants must consult their Technical Partner in Cybersource for further details.\n"},{"name":"TransactionBatches","description":"Get a list of batch files or details of Individual file processed through the Offline Transaction Submission Services.\n"},{"name":"AccountValidations","description":"A eCheck account validation enable you to determine, in real time, whether to\nproceed with an electronic check debit or the creation of a recurring electronic check\nsubscription.\n"},{"name":"billingAgreements","description":"A billingAgreement is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"},{"name":"orders","description":"An order is a service that is used for initiating a transaction with itemized details, shipping, billing and buyer information. \n"},{"name":"payment-tokens","description":"A payment-tokens is a service that is used for retrieving vault details or deleting vault id/payment method.\n"}],"paths":{"/pts/v2/payments":{"post":{"summary":"Process a Payment","description":"A payment authorizes the amount for the transaction. There are a number of supported payment features, such as E-commerce and Card Present - Credit Card/Debit Card, Echeck, e-Wallets, Level II/III Data, etc..\n\nA payment response includes the status of the request. It also includes processor-specific information when the request is successful and errors if unsuccessful. See the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html).\n\nAuthorization can be requested with Capture, Decision Manager, Payer Authentication(3ds), and Token Creation.\n","tags":["payments"],"operationId":"createPayment","produces":["application/hal+json;charset=utf-8"],"consumes":["application/json;charset=utf-8"],"x-devcenter-metaData":{"categoryTag":"Payments","testingTriggers":"https://developer.cybersource.com/hello-world/testing-guide.html","responseCodes":"https://developer.cybersource.com/api/reference/response-codes.html","developerGuides":"https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html"},"parameters":[{"name":"createPaymentRequest","in":"body","required":true,"schema":{"type":"object","properties":{"clientReferenceInformation":{"type":"object","properties":{"code":{"type":"string","maxLength":50,"description":"Merchant-generated order reference or tracking number. It is recommended that you send a unique value for each\ntransaction so that you can perform meaningful searches for the transaction.\n\n#### Used by\n**Authorization**\nRequired field.\n\n#### PIN Debit\nRequests for PIN debit reversals need to use the same merchant reference number that was used in the transaction that is being\nreversed.\n\nRequired field for all PIN Debit requests (purchase, credit, and reversal).\n\n#### FDC Nashville Global\nCertain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.\n"},"reconciliationId":{"type":"string","maxLength":60,"description":"Reference number for the transaction.\nDepending on how your Cybersource account is configured, this value could either be provided in the API request or generated by CyberSource.\nThe actual value used in the request to the processor is provided back to you by Cybersource in the response.\n"},"pausedRequestId":{"type":"string","maxLength":26,"description":"Used to resume a transaction that was paused for an order modification rule to allow for payer authentication to complete. To resume and continue with the authorization/decision service flow, call the services and include the request id from the prior decision call.\n"},"transactionId":{"type":"string","maxLength":30,"description":"Identifier that you assign to the transaction. Normally generated by a client server to identify a unique API request.\n\n**Note** Use this field only if you want to support merchant-initiated reversal and void operations.\n\n#### Used by\n**Authorization, Authorization Reversal, Capture, Credit, and Void**\nOptional field.\n\n#### PIN Debit\nFor a PIN debit reversal, your request must include a request ID or a merchant transaction identifier.\nOptional field for PIN debit purchase or credit requests.\n"},"comments":{"type":"string","description":"Brief description of the order or any comment you wish to add to the order."},"partner":{"type":"object","properties":{"originalTransactionId":{"type":"string","maxLength":32,"description":"Value that links the previous transaction to the current follow-on request. This value is assigned by the client\nsoftware that is installed on the POS terminal, which makes it available to the terminal\u2019s software and to\nCyberSource. Therefore, you can use this value to reconcile transactions between CyberSource and the terminal\u2019s\nsoftware.\n\nCyberSource does not forward this value to the processor. Instead, the value is forwarded to the CyberSource\nreporting functionality.\n\nThis field is supported only on these processors:\n- American Express Direct\n- Credit Mutuel-CIC\n- FDC Nashville Global\n- OmniPay Direct\n- SIX\n\nOptional field.\n"},"developerId":{"type":"string","maxLength":8,"description":"Identifier for the developer that helped integrate a partner solution to CyberSource.\n\nSend this value in all requests that are sent through the partner solutions built by that developer.\nCyberSource assigns the ID to the developer.\n\n**Note** When you see a developer ID of 999 in reports, the developer ID that was submitted is incorrect.\n"},"solutionId":{"type":"string","maxLength":8,"description":"Identifier for the partner that is integrated to CyberSource.\n\nSend this value in all requests that are sent through the partner solution. CyberSource assigns the ID to the partner.\n\n**Note** When you see a solutionId of 999 in reports, the solutionId that was submitted is incorrect.\n"},"thirdPartyCertificationNumber":{"type":"string","maxLength":12,"description":"Value that identifies the application vendor and application version for a third party gateway.\nCyberSource provides you with this value during testing and validation.\nThis field is supported only on CyberSource through VisaNet.\n\n#### Used by\n**Authorization, Authorization Reversal, Capture, Credit, Incremental Authorization, and Void**\nOptional field.\n\n#### PIN debit\nRequired field for PIN debit credit, PIN debit purchase, or PIN debit reversal request.\n"}}},"applicationName":{"type":"string","description":"The name of the Connection Method client (such as Virtual Terminal or SOAP Toolkit API) that the merchant uses to send a transaction request to CyberSource.\n"},"applicationVersion":{"type":"string","description":"Version of the CyberSource application or integration used for a transaction.\n"},"applicationUser":{"type":"string","description":"The entity that is responsible for running the transaction and submitting the processing request to CyberSource. This could be a person, a system, or a connection method.\n"}}},"processingInformation":{"type":"object","properties":{"actionList":{"type":"array","description":"Array of actions (one or more) to be included in the payment to invoke bundled services along with payment.\n\nPossible values are one or more of follows:\n\n - `DECISION_SKIP`: Use this when you want to skip Decision Manager service(s).\n\n - `TOKEN_CREATE`: Use this when you want to create a token from the card/bank data in your payment request.\n\n - `CONSUMER_AUTHENTICATION`: Use this when you want to check if a card is enrolled in Payer Authentication along with your payment request.\n\n - `VALIDATE_CONSUMER_AUTHENTICATION`: Use this after you acquire a Payer Authentication result that needs to be included for your payment request.\n \n - `AP_INITIATE`: Use this when Alternative Payment Initiate service is requested.\n\n - `WATCHLIST_SCREENING` : Use this when you want to call Watchlist Screening service.\n\n - `AP_SALE` : Use this when Alternative Payment Sale service is requested.\n\n\n - `AP_AUTH` : Use this when Alternative Payment Authorize service is requested.\n\n - `AP_REAUTH` : Use this when Alternative Payment Reauthorize service is requested.\n","items":{"type":"string"}},"enableEscrowOption":{"type":"boolean","description":"Indicates whether to use the customer\u2019s escrow agreement.\nPossible values:\n- `true`: yes, use the customer\u2019s escrow agreement.\n- `false`: no, do not use the customer\u2019s escrow agreement. \n"},"actionTokenTypes":{"type":"array","description":"CyberSource tokens types you are performing a create on.\nIf not supplied the default token type for the merchants token vault will be used.\n\nValid values:\n- customer\n- paymentInstrument\n- instrumentIdentifier\n- shippingAddress\n","items":{"type":"string"}},"binSource":{"type":"string","description":"Bin Source File Identifier.\nPossible values:\n- itmx\n- rupay\n"},"capture":{"type":"boolean","description":"Indicates whether to also include a capture  in the submitted authorization request or not.\n\nPossible values:\n- `true`: Include a capture with an authorization request.\n- `false`: (default) Do not include a capture with an authorization request.\n\n#### Used by\n**Authorization and Capture**\nOptional field.\n","default":false},"processorId":{"type":"string","maxLength":3,"description":"Value that identifies the processor/acquirer to use for the transaction. This value is supported only for\n**CyberSource through VisaNet**.\n\nContact CyberSource Customer Support to get the value for this field.\n"},"businessApplicationId":{"type":"string","description":"Required for AFT and OCT transactions.\n\nGiven below is a list of all the BAI values available. However, the processors may support only few specific BAI values.\n\n- AA : Account-to-account \n- BB : Supplier Payments\n- BI : Bank-Initiated P2P Money Transfer\n- BP : Non-Card Bill Pay/Bill Pay\n- CD : Cash Deposit\n- CP : Credit card Bill Payment\n- FD : Funds disbursement \n- FT : Funds transfer\n- GD : Government Disbursement\n- GP : Gambling payout (non-online gambling)\n- LO : Loyalty credits and rebates\n- MD : Merchant Settlement\n- OG : Online Gambling Payout\n- PD : Payroll and pension disbursement\n- PP : Person-to-Person or Peer-to-Peer\n- TU : Top up, prepaid load\n- WT : Digital wallet \n"},"commerceIndicator":{"type":"string","maxLength":20,"description":"Type of transaction. Some payment card companies use this information when determining discount rates.\n\n#### Used by\n**Authorization**\nRequired payer authentication transactions; otherwise, optional.\n**Credit**\nRequired for standalone credits on Chase Paymentech solutions; otherwise, optional.\n\nThe list of valid values in this field depends on your processor.\n\n#### Ingenico ePayments\nWhen you omit this field for Ingenico ePayments, the processor uses the default transaction type they have on file for you instead of the default value \n\n#### Card Present\nYou must set this field to `retail`. This field is required for a card-present transaction. Note that this should ONLY be\nused when the cardholder and card are present at the time of the transaction.\nFor all keyed transactions originated from a POS terminal where the cardholder and card are not present, commerceIndicator\nshould be submitted as \u201cmoto\"\n"},"commerceIndicatorLabel":{"type":"string","maxLength":20,"description":"Type of transaction. Some payment card companies use this information when determining discount rates.\n\n#### Used by\n**Authorization**\nRequired payer authentication transactions; otherwise, optional.\n**Credit**\nRequired for standalone credits on Chase Paymentech solutions; otherwise, optional.\n\nThe list of valid values in this field depends on your processor.\n\n#### Ingenico ePayments\nWhen you omit this field for Ingenico ePayments, the processor uses the default transaction type they have on file for you\ninstead of the default value \n\n#### Card Present\nYou must set this field to `retail`. This field is required for a card-present transaction. Note that this should ONLY be\nused when the cardholder and card are present at the time of the transaction.\nFor all keyed transactions originated from a POS terminal where the cardholder and card are not present, commerceIndicator\nshould be submitted as `moto`\n"},"paymentSolution":{"type":"string","maxLength":12,"description":"Type of digital payment solution for the transaction. Possible Values:\n\n - `visacheckout`: Visa Checkout. This value is required for Visa Checkout transactions. For details, see `payment_solution` field description in [Visa Checkout Using the REST API.](https://developer.cybersource.com/content/dam/docs/cybs/en-us/apifields/reference/all/rest/api-fields.pdf)\n - `001`: Apple Pay.\n - `004`: Cybersource In-App Solution.\n - `005`: Masterpass. This value is required for Masterpass transactions on OmniPay Direct. \n - `006`: Android Pay.\n - `007`: Chase Pay.\n - `008`: Samsung Pay.\n - `012`: Google Pay.\n - `013`: Cybersource P2PE Decryption\n - `014`: Mastercard credential on file (COF) payment network token. Returned in authorizations that use a payment network token associated with a TMS token.\n - `015`: Visa credential on file (COF) payment network token. Returned in authorizations that use a payment network token associated with a TMS token.\n - `027`: Click to Pay.\n"},"reconciliationId":{"type":"string","maxLength":60,"description":"Please check with Cybersource customer support to see if your merchant account is configured correctly so you\ncan include this field in your request.\n* For Payouts: max length for FDCCompass is String (22).\n"},"linkId":{"type":"string","maxLength":26,"description":"Value that links the current authorization request to the original authorization request. Set this value\nto the ID that was returned in the reply message from the original authorization request.\n\nThis value is used for:\n\n- Partial authorizations\n- Split shipments\n"},"purchaseLevel":{"type":"string","maxLength":1,"description":"Set this field to 3 to indicate that the request includes Level III data."},"transactionTimeout":{"type":"integer","maximum":99999,"description":"The time-out limit in seconds for the transaction. The time-out limit starts when the customer is directed to the merchant URL that is included in the sale service response. The maximum value is 99999 (about 27 hours). When the transaction times out, the payment system changes the status to abandoned."},"intentsId":{"type":"string","maxLength":26,"description":"Set to the value of the requestID field returned in the order service response."},"reportGroup":{"type":"string","maxLength":25,"description":"Attribute that lets you define custom grouping for your processor reports. This field is supported only for **Worldpay VAP**.\n"},"visaCheckoutId":{"type":"string","maxLength":48,"description":"Identifier for the **Visa Checkout** order. Visa Checkout provides a unique order ID for every transaction in\nthe Visa Checkout **callID** field.\n"},"industryDataType":{"type":"string","maxLength":20,"description":"Indicates that the transaction includes industry-specific data.\n\nPossible Values:\n- `airline`\n- `restaurant`\n- `lodging`\n- `auto_rental`\n- `transit`\n- `healthcare_medical`\n- `healthcare_transit`\n- `transit`\n\n#### Card Present, Airlines and Auto Rental\nYou must set this field to `airline` in order for airline data to be sent to the processor. For example, if this\nfield is not set to `airline` or is not included in the request, no airline data is sent to the processor.\n\nYou must set this field to `restaurant` in order for restaurant data to be sent to the processor. When this field\nis not set to `restaurant` or is not included in the request, no restaurant data is sent to the processor.\n\nYou must set this field to `auto_rental` in order for auto rental data to be sent to the processor. For example, if this\nfield is not set to `auto_rental` or is not included in the request, no auto rental data is sent to the processor.\n\nRestaurant data is supported only on CyberSource through VisaNet.\n"},"authorizationOptions":{"type":"object","properties":{"authType":{"type":"string","maxLength":15,"description":"Authorization type. Possible values:\n\n - `AUTOCAPTURE`: automatic capture.\n - `STANDARDCAPTURE`: standard capture.\n - `VERBAL`: forced capture. Include it in the payment request for a forced capture. Include it in the capture request for a verbal payment.\n\n#### Asia, Middle East, and Africa Gateway; Cielo; Comercio Latino; and CyberSource Latin American Processing\nSet this field to `AUTOCAPTURE` and include it in a bundled request to indicate that you are requesting an automatic capture. If your account is configured to enable automatic captures, set this field to `STANDARDCAPTURE` and include it in a standard authorization or bundled request to indicate that you are overriding an automatic capture.\n\n#### Forced Capture\nSet this field to `VERBAL` and include it in the authorization request to indicate that you are performing a forced capture; therefore, you receive the authorization code outside the CyberSource system.\n\n#### Verbal Authorization\nSet this field to `VERBAL` and include it in the capture request to indicate that the request is for a verbal authorization.\n\n#### for PayPal ptsV2CreateOrderPost400Response\nSet this field to 'AUTHORIZE' or 'CAPTURE' depending on whether you want to invoke delayed capture or sale respectively.\n"},"panReturnIndicator":{"type":"string","maxLength":1,"description":"#### Visa Platform Connect\nThe field contains the PAN translation indicator for American Express Contactless Transaction. Valid value is\u00a0\n\n1- Expresspay Translation, PAN request\n2- Expresspay Translation, PAN and Expiry date request\n"},"verbalAuthCode":{"type":"string","maxLength":7,"description":"Authorization code.\n\n#### Forced Capture\nUse this field to send the authorization code you received from a payment that you authorized\noutside the CyberSource system.\n\n#### PIN debit\nAuthorization code that is returned by the processor.\n\nReturned by PIN debit purchase.\n\n#### Verbal Authorization\nUse this field in CAPTURE API to send the verbally received authorization code.\n"},"verbalAuthTransactionId":{"type":"string","maxLength":15,"description":"Transaction ID (TID).\n\n#### FDMS South\nThis field is required for verbal authorizations and forced captures with the American Express card type to comply\nwith the CAPN requirements:\n- Forced capture: Obtain the value for this field from the authorization response.\n- Verbal authorization: You cannot obtain a value for this field so CyberSource uses the default value of `000000000000000` (15\nzeros).\n"},"authIndicator":{"type":"string","maxLength":1,"description":"Flag that specifies the purpose of the authorization.\n\nPossible values:\n - **0**: Preauthorization\n - **1**: Final authorization\n\nTo set the default for this field, contact CyberSource Customer Support.\n\n#### Barclays and Elavon\nThe default for Barclays and Elavon is 1 (final authorization). To change the default for this field, contact CyberSource Customer Support.\n\n#### CyberSource through VisaNet\nWhen the value for this field is 0, it corresponds to the following data in the TC 33 capture file:\n - Record: CP01 TCR0\n - Position: 164\n - Field: Additional Authorization Indicators\nWhen the value for this field is 1, it does not correspond to any data in the TC 33 capture file.\n"},"partialAuthIndicator":{"type":"boolean","description":"Flag that indicates whether the transaction is enabled for partial authorization. When the request includes this\nfield, this value overrides the information in your account. Possible values:\n- `true`: Enable the transaction for partial authorization.\n- `false`: Do not enable the transaction for partial authorization.\n\n#### PIN debit\nRequired field for partial authorizations that use PIN debit purchase; otherwise, not used.\n\n#### Used by\n**Authorization**\nOptional field.\n\n#### CyberSource through VisaNet\nTo set the default for this field, contact CyberSource Customer Support.\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP01 TCR0\n- Position: 164\n- Field: Additional Authorization Indicators\n"},"extendAuthIndicator":{"type":"string","maxLength":5,"description":"Indicates Authorization extension transaction. Extension transaction is used to prolong the settlement period by one additional settlement cycle period.\n\nPossible values:\n- true: Transaction is an Authorization Extension transaction. \n- false: Transaction is not an Authorization Extension transaction.\n"},"balanceInquiry":{"type":"boolean","description":"Flag that indicates whether to return balance information.\n\nPossible values:\n- `true`: Return balance information.\n- `false`: Do not return balance information.\n\n#### Used by\n**Authorization**\nRequired for a balance inquiry; otherwise, not used.\n\n#### PIN debit\nRequired for a balance inquiry request of a PIN debit purchase; otherwise, not used.\n"},"ignoreAvsResult":{"type":"boolean","description":"Flag for a sale request that indicates whether to allow the capture service to run even when the authorization\nreceives an AVS decline, as indicated by a reply flag value of DAVSNO.\n\nPossible values:\n- `true`: Ignore the results of AVS checking and run the capture service.\n- `false` (default): If the authorization receives an AVS decline, do not run the capture service.\nWhen the value of this field is `true`, the list in the `processingInformation.authorizationOptions.declineAvsFlags` field is ignored.\n\n#### Used by\n**Authorization**\nOptional field.\nString (3)\n","default":false},"declineAvsFlags":{"type":"array","description":"Comma-separated list of AVS flags that cause the reply flag `DAVSNO` to be returned.\n\n**Important** To receive declines for the AVS code `N`, you must include the value `N` in the comma-separated\nlist.\n\n  ### AVS Codes for Cielo 3.0 and CyberSource Latin American Processing\n\n  **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports.\n  In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America.\n  The information in this section is for the specific processing connection called CyberSource Latin American Processing.\n  It is not for any other Latin American processors that CyberSource supports.\n\n|AVS Code|Description|\n|--- |--- |\n|D|Partial match: postal code and address match.|\n|E|Not supported: AVS is not supported for this card type. _or_ Invalid: the acquirer returned an unrecognized value for the AVS response.|\n|F|Partial match: postal code matches, but CPF and address do not match.*|\n|G|Not supported: AVS not supported or not verified.|\n|I|No match: AVS information is not available.|\n|K|Partial match: CPF matches, but postal code and address do not match.*|\n|L|Partial match: postal code and CPF match, but address does not match.*|\n|N|No match: postal code, CPF, and address do not match.*|\n|O|Partial match: CPF and address match, but postal code does not match.*|\n|R|Not supported: your implementation does not support AVS _or_ System unavailable.|\n|T|Partial match: address matches, but postal code and CPF do not match.*|\n|V|Match: postal code, CPF, and address match.*|\n|* CPF (Cadastro de Pessoas Fisicas) is required only for Redecard in Brazil.||\n\n### AVS Codes for All Other Processors\n\n**Note** The list of AVS codes for all other processors follows these descriptions of the processor-specific information for these codes.\n\n#### American Express Cards\nFor American Express cards only, you can receive Visa and CyberSource\nAVS codes in addition to the American Express AVS codes.\n\n**Note** For CyberSource through VisaNet, the American Express AVS codes are converted to Visa\nAVS codes before they are returned to you. As a result, you will not receive American Express AVS codes for\nthe American Express card type.<br/><br/>\n\n_American Express Card codes_: `F`, `H`, `K`, `L`, `O`, `T`, `V`\n\n#### Domestic and International Visa Cards\nThe international and domestic alphabetic AVS codes are the Visa standard AVS codes. CyberSource maps\nthe standard AVS return codes for other types of payment cards, including American Express cards, to\nthe Visa standard AVS codes.\n\nAVS is considered either domestic or international, depending on the location of the bank that issued the\ncustomer's payment card:\n- When the bank is in the U.S., the AVS is domestic.\n- When the bank is outside the U.S., the AVS is international.\n\nYou should be prepared to handle both domestic and international AVS result codes:\n- For international cards, you can receive domestic AVS codes in addition to the international AVS codes.\n- For domestic cards, you can receive international AVS codes in addition to the domestic AVS codes.\n\n_International Visa Codes_: `B`, `C`, `D`, `G`, `I`, `M`, `P`\n\n_Domestic Visa Codes_: `A`, `E`,`N`, `R`, `S`, `U`, `W`, `X`, `Y`, `Z`\n\n#### CyberSource Codes\nThe numeric AVS codes are created by CyberSource\nand are not standard Visa codes. These AVS codes\ncan be returned for any card type.\n\n_CyberSource Codes_: `1`, `2`, `3`, `4`\n\n### Table of AVS Codes for All Other Processors\n\n|AVS Code|Description|\n|--- |--- |\n|A|Partial match: street address matches, but 5-digit and 9-digit postal codes do not match.|\n|B|Partial match: street address matches, but postal code is not verified. Returned only for Visa cards not issued in the U.S.|\n|C|No match: street address and postal code do not match. Returned only for Visa cards not issued in the U.S.|\n|D & M|Match: street address and postal code match. Returned only for Visa cards not issued in the U.S.|\n|E|Invalid: AVS data is invalid or AVS is not allowed for this card type.|\n|F|Partial match: card member\u2019s name does not match, but billing postal code matches.|\n|G|Not supported: issuing bank outside the U.S. does not support AVS.|\n|H|Partial match: card member\u2019s name does not match, but street address and postal code match. Returned only for the American Express card type.|\n|I|No match: address not verified. Returned only for Visa cards not issued in the U.S.|\n|K|Partial match: card member\u2019s name matches, but billing address and billing postal code do not match. Returned only for the American Express card type.|\n|L|Partial match: card member\u2019s name and billing postal code match, but billing address does not match. Returned only for the American Express card type.|\n|M|See the entry for D & M.|\n|N|No match: one of the following: street address and postal code do not match _or_ (American Express card type only) card member\u2019s name, street address, and postal code do not match.|\n|O|Partial match: card member\u2019s name and billing address match, but billing postal code does not match. Returned only for the American Express card type.|\n|P|Partial match: postal code matches, but street address not verified. Returned only for Visa cards not issued in the U.S.|\n|R|System unavailable.|\n|S|Not supported: issuing bank in the U.S. does not support AVS.|\n|T|Partial match: card member\u2019s name does not match, but street address matches. Returned only for the American Express card type.|\n|U|System unavailable: address information unavailable for one of these reasons: The U.S. bank does not support AVS outside the U.S. _or_ The AVS in a U.S. bank is not functioning properly.|\n|V|Match: card member\u2019s name, billing address, and billing postal code match. Returned only for the American Express card type.|\n|W|Partial match: street address does not match, but 9-digit postal code matches.|\n|X|Match: street address and 9-digit postal code match.|\n|Y|Match: street address and 5-digit postal code match.|\n|Z|Partial match: street address does not match, but 5-digit postal code matches.|\n|1|Not supported: one of the following: AVS is not supported for this processor or card type _or_ AVS is disabled for your CyberSource account. To enable AVS, contact CyberSource Customer Support.|\n|2|Unrecognized: the processor returned an unrecognized value for the AVS response.|\n|3|Match: address is confirmed. Returned only for PayPal Express Checkout.|\n|4|No match: address is not confirmed. Returned only for PayPal Express Checkout.|\n|5|No match: no AVS code was returned by the processor.|\n","items":{"type":"string"}},"ignoreCvResult":{"type":"boolean","description":"Flag for a sale request that indicates whether to allow the capture service to run even when the authorization receives a CVN decline, as indicated by an `processorInformation.cardVerification.resultCode` value of `D` or `N`.\nPossible values:\n- `true`: Ignore the results of CVN checking and run the capture service.\n- `false` (default): If the authorization receives a CVN decline, do not run the capture service.\n\n#### Used by\n**Authorization**\nOptional field.\n","default":false},"initiator":{"type":"object","properties":{"type":{"type":"string","description":"This field indicates whether the transaction is a merchant-initiated transaction or customer-initiated transaction.\n\nValid values:\n- **customer**\n- **merchant**\n"},"credentialStoredOnFile":{"type":"boolean","description":"Indicates to the issuing bank two things:\n- The merchant has received consent from the cardholder to store their card details on file\n- The merchant wants the issuing bank to check out the card details before the merchant initiates their first transaction for this cardholder.\nThe purpose of the merchant-initiated transaction is to ensure that the cardholder\u2019s credentials are valid (that the card is not stolen or has restrictions) and that the card details are good to be stored on the merchant\u2019s file for future transactions.\n\nValid values:\n- `true` means merchant will use this transaction to store payment credentials for follow-up merchant-initiated transactions.\n- `false` means merchant will not use this transaction to store payment credentials for follow-up merchant-initiated transactions.\n\n**NOTE:** The value for this field does not correspond to any data in the TC 33 capture file5.\n\nThis field is supported only for Visa transactions on CyberSource through VisaNet.\n"},"storedCredentialUsed":{"type":"boolean","description":"Indicates to an issuing bank whether a merchant-initiated transaction came from a card that was already stored on file.\n\nPossible values:\n- **true** means the merchant-initiated transaction came from a card that was already stored on file.\n- **false**  means the merchant-initiated transaction came from a card that was not stored on file.\n"},"merchantInitiatedTransaction":{"type":"object","properties":{"reason":{"type":"string","maxLength":1,"description":"Reason for the merchant-initiated transaction or incremental authorization. Possible values:\n- `1`: Resubmission\n- `2`: Delayed charge\n- `3`: Reauthorization for split shipment\n- `4`: No show\n- `5`: Account top up\nThis field is required only for the five kinds of transactions in the preceding list.\nThis field is supported only for merchant-initiated transactions and incremental authorizations.\n\n#### CyberSource through VisaNet\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP01 TCR0\n- Position: 160-163\n- Field: Message Reason Code\n"},"previousTransactionId":{"type":"string","maxLength":15,"description":"Network transaction identifier that was returned in the payment response field _processorInformation.transactionID_\nin the reply message for either the original merchant-initiated payment in the series or the previous\nmerchant-initiated payment in the series.\n\nIf the current payment request includes a token instead of an account number, the following time limits apply for the value of this field:\n- For a **resubmission**, the transaction ID must be less than 14 days old.\n- For a **delayed charge** or **reauthorization**, the transaction ID must be less than 30 days old.\n\n**NOTE**: The value for this field does not correspond to any data in the TC 33 capture file5. This field is supported\nonly for Visa transactions on CyberSource through VisaNet.\n"},"originalAuthorizedAmount":{"type":"string","maxLength":61,"description":"Amount of the original authorization.\n\nThis field is supported only for Apple Pay, Google Pay, and Samsung Pay transactions with Discover on FDC Nashville Global and Chase Paymentech.\n"},"agreementId":{"type":"string","maxLength":140,"description":"An API to carry the agreement ID generated for recurring and unscheduled Card on file transaction. the merchant generates this per card holder or per payment agreement and shares the generated unique ID in the subsequent transactions. This can contain foreign/arabic character set also. Cybersource forwards this value to the Saudi Payment processor.\n"}}}}},"billPayment":{"type":"boolean","description":"Indicates payment for bill or payment towards existing contractual loan.\n\nPossible values:\n- `true`: Bill payment or loan payment.\n- `false` (default): Not a bill payment or loan payment.\n\nOptional request field.\n"},"billPaymentType":{"type":"string","description":"Reason for the payment.\n\nPossible values:\n- 001: Public utilities / Utility payment\n- 002: Government services\n- 003: Cellular / Mobile phone top-up\n- 004: Coupon payment\n- 005: Installment based repayment\n- 006: Billing payment\n- 007: Tax payment\n- 008: Tax payment refunds\n\nThe value for this field corresponds to the following data in the TC 33A capture file (applicable to Brazil):\n- Record: CP07 TCR0\n- Position: 48-50\n- Field: Bill Payment Transaction Type Identifier\n\nThe value for this field corresponds to the following data in the TC 33A capture file (applicable to Installment)\nbased Repayment):\n- Record: CP01 TCR6\n- Position: 154-156\n- Field: Bill Payment Transaction Type Identifier\n\n\nThis field is supported for\n1. Bill payments in Brazil with Mastercard on CyberSource through VisaNet.\n2. Installment based repayment transactions on Cybersource through VisaNet.\n"},"redemptionInquiry":{"type":"boolean","description":"Flag that indicates the payment request is a redemption inquiry.\n\nPossible values:\n  - `true`\n  - `false`\n"},"transportationMode":{"type":"string","description":"Type of transportation mode :\n\nPossible Values:\n- 00 = Unknown\n- 01 = Urban bus\n- 02 = Interurban bus\n- 03=Lighttrainmasstransit(Underground Metro LTR)\n- 04 = Train\n- 05 = Commuter train\n- 06 = Water-borne vehicle\n- 07 = Toll\n- 08 = Parking\n- 09 = Taxi\n- 10 = High-speed train\n- 11 = Rural bus\n- 12 = Express commuter train\n- 13 = Para transit\n- 14 = Self drive vehicle\n- 15 = Coach\n- 16 = Locomotive\n- 17 = Powered motor coach\n- 18 = Trailer\n- 19 = Regional train\n- 20 = Inter-city\n- 21 = Funicular train\n- 22 = Cable car\n"},"aggregatedAuthIndicator":{"type":"string","description":"Indicates if transaction is an aggregated auth\n\nPossible values:\n- **true**\n- **false**\n"},"debtRecoveryIndicator":{"type":"string","description":"Indicates if transaction is a debt recovery request\n\nPossible values:\n- **true**\n- **false**\n"},"deferredAuthIndicator":{"type":"boolean","description":"Flag that indicates whether the authorization request was delayed because connectivity was interrupted.\n\nPossible values:\n  - `true` (Deferred authorization)\n  - `false` (default: Not a deferred authorization)\n"},"cashAdvanceIndicator":{"type":"boolean","description":"This API field enables the merchant to indicate that a given transaction is Cash Advance.\n\nCash advance or Cash disbursement functionality allows a merchant to dispense cash at a point of sale.\nIt provides the ability of a POS system to act like an ATM. These terminals are typically seen in bank\nbranches where customers can use their card and withdraw cash or at merchant locations where ATMs are sparse.\n\nPossible values:\n  - `true` (Cash advance is supported)\n  - `false` (default: cash advance is not supported)\n"},"splitPaymentTransaction":{"type":"boolean","description":"#### Visa Platform Connect\nIndicates split payment transaction. A split payment allows the use of two payment methods for a single transaction.\n\nPossible values:\n  - `true` (split payment transaction is supported)\n  - `false` (default: split payment transaction is not supported)\n"},"cardVerificationIndicator":{"type":"boolean","description":"This API field will indicate whether a card verification check is being performed during the transaction\n\nPossible values:\n  - `true`\n  - `false` (default value)\n"},"transactionMode":{"type":"string","maxLength":1,"description":"Transaction mode identifier. Identifies the specific channel from which the transaction originates.\n\nPossible values:\n- M \u2013 Mobile Order\n- T \u2013 Telephone Order\n"},"aftIndicator":{"type":"boolean","description":"Indicates whether the transaction is an Account Funding Transaction (AFT). \nThis field is mandatory for Account Funding Transactions (AFT). \n\nPossible values:\n  - `true` (This is an AFT transaction)\n  - `false` (default value) (This is not an AFT transaction)\n"},"serviceType":{"type":"string","maxLength":10,"description":"Field is used for back-to-back funding transaction and can be defined as a payment flow that automatically transfers funds through a real-time \nfunding or a live-load. This type of transaction can also be connected to a purchase. \nIn back-to-back funding of general purpose card that is used to make a purchase, two separate accounts are involved: \n- account one is used to make the purchase\n- account two is used to automatically fund or reimburse account one\n\nPossible values:\n- 0B = back to back funding transaction\n- 00 = normal transaction\n- 01 = originator hold\n- 02 = Visa deferred OCT hold, default interval\n- 03 = Visa deferred OCT hold, user-defined interval\n- 09 = Cancel pending deferred OCT request\n- 0I = Visa Direct custom program 1\n- 0Q = uery the status of the deferred OCT\n- A0 = Alias Directory 2\n"},"balanceUpdate":{"type":"boolean","description":"Merchant to inform Cybersource whether a transaction is Money load with Balance Update.\n\nPossible values:\n  - `true` (This is a Money load with balance update transaction)\n  - `false` (default value) (This is not a Money load with balance update transaction)\n"},"moneyLoad":{"type":"boolean","description":"Merchant to inform Cybersource whether a transaction is Money load with Money load only.\n\nPossible values:\n  - `true` (This is a money load transaction)\n  - `false` (default value) (This is not a money load transaction)\n"}}},"captureOptions":{"type":"object","properties":{"captureSequenceNumber":{"type":"integer","minimum":1,"maximum":99,"description":"Capture number when requesting multiple partial captures for one authorization.\nUsed along with `totalCaptureCount` to track which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - `captureSequenceNumber_ = 2`, and\n  - `totalCaptureCount = 5`\n"},"totalCaptureCount":{"type":"integer","minimum":1,"maximum":99,"description":"Total number of captures when requesting multiple partial captures for one payment.\nUsed along with `captureSequenceNumber` field to track which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - `captureSequenceNumber = 2`, and\n  - `totalCaptureCount = 5`\n"},"dateToCapture":{"type":"string","maxLength":4,"description":"Date on which you want the capture to occur. This field is supported only for CyberSource through VisaNet.\nFormat: `MMDD`\n\n#### Used by\n**Authorization**\nOptional field.\n"},"isFinal":{"type":"string","maxLength":5,"description":"Indicates whether to release the authorization hold on the remaining funds.  \nPossible Values:\n- `true`\n- `false`\n"},"notes":{"type":"string","maxLength":255,"description":"An informational note about this settlement. Appears in both the payer's transaction history and the emails that the payer receives.\n"},"reconciliationId":{"type":"string","maxLength":60,"description":"Used for authbill request when capture field equals true"},"reconciliationIdAlternate":{"type":"string","maxLength":12,"description":"Used by Nike merchant to send 12 digit order number"}}},"recurringOptions":{"type":"object","properties":{"loanPayment":{"type":"boolean","description":"Flag that indicates whether this is a payment towards an existing contractual loan.\n\nPossible values:\n- `true`: Loan payment\n- `false`: (default) Not a loan payment\n","default":false},"firstRecurringPayment":{"type":"boolean","description":"Flag that indicates whether this transaction is the first in a series of recurring payments.\n\nThis field is supported only for **Atos**, **FDC Nashville Global**, and **OmniPay Direct**.\n\nPossible values:\n - `true` Indicates this is the first payment in a series of recurring payments\n - `false` (default) Indicates this is not the first payment in a series of recurring payments.\n","default":false}}},"bankTransferOptions":{"type":"object","properties":{"declineAvsFlags":{"type":"string","maxLength":15,"description":"Space-separated list of AVS flags that cause the request to be declined for AVS reasons.\n\n**Important** To receive declines for the AVS code `N`, you must include the value `N` in the space-separated list.\n\n### AVS Codes for Cielo 3.0 and CyberSource Latin American Processing\n\n**Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this section is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.\n\n|AVS Code|Description|\n|--- |--- |\n|D|Partial match: postal code and address match.|\n|E|Not supported: AVS is not supported for this card type. _or_ Invalid: the acquirer returned an unrecognized value for the AVS response.|\n|F|Partial match: postal code matches, but CPF and address do not match.*|\n|G|Not supported: AVS not supported or not verified.|\n|I|No match: AVS information is not available.|\n|K|Partial match: CPF matches, but postal code and address do not match.*|\n|L|Partial match: postal code and CPF match, but address does not match.*|\n|N|No match: postal code, CPF, and address do not match.*|\n|O|Partial match: CPF and address match, but postal code does not match.*|\n|R|Not supported: your implementation does not support AVS _or_ System unavailable.|\n|T|Partial match: address matches, but postal code and CPF do not match.*|\n|V|Match: postal code, CPF, and address match.*|\n|* CPF (Cadastro de Pessoas Fisicas) is required only for Redecard in Brazil.||\n\n### AVS Codes for All Other Processors\n\n**Note** The list of AVS codes for all other processors follows these descriptions of the processor-specific information for these codes.\n\n#### American Express Cards\nFor American Express cards only, you can receive Visa and CyberSource AVS codes in addition to the American Express AVS codes.\n\n**Note** For CyberSource through VisaNet, the American Express AVS codes are converted to Visa AVS codes before they are returned to you. As a result, you will not receive American Express AVS codes for the American Express card type.\n\n_American Express Card codes_: `F`, `H`, `K`, `L`, `O`, `T`, `V`\n\n#### Domestic and International Visa Cards\nThe international and domestic alphabetic AVS codes are the Visa standard AVS codes. CyberSource maps the standard AVS return codes for other types of payment cards, including American Express cards, to the Visa standard AVS codes.\n\nAVS is considered either domestic or international, depending on the location of the bank that issued the customer\u2019s payment card:\n- When the bank is in the U.S., the AVS is domestic.\n- When the bank is outside the U.S., the AVS is international.\n\nYou should be prepared to handle both domestic and international AVS result codes:\n- For international cards, you can receive domestic AVS codes in addition to the international AVS codes.\n- For domestic cards, you can receive international AVS codes in addition to the domestic AVS codes.\n\n_International Visa Codes_: `B`, `C`, `D`, `G`, `I`, `M`, `P`\n\n_Domestic Visa Codes_: `A`, `E`,`N`, `R`, `S`, `U`, `W`, `X`, `Y`, `Z`\n\n#### CyberSource Codes\nThe numeric AVS codes are created by CyberSource and are not standard Visa codes. These AVS codes can be returned for any card type.\n\n_CyberSource Codes_: `1`, `2`, `3`, `4`\n\n### Table of AVS Codes for All Other Processors\n\n|AVS Code|Description|\n|--- |--- |\n|A|Partial match: street address matches, but 5-digit and 9-digit postal codes do not match.|\n|B|Partial match: street address matches, but postal code is not verified. Returned only for Visa cards not issued in the U.S.|\n|C|No match: street address and postal code do not match. Returned only for Visa cards not issued in the U.S.|\n|D & M|Match: street address and postal code match. Returned only for Visa cards not issued in the U.S.|\n|E|Invalid: AVS data is invalid or AVS is not allowed for this card type.|\n|F|Partial match: card member\u2019s name does not match, but billing postal code matches.|\n|G|Not supported: issuing bank outside the U.S. does not support AVS.|\n|H|Partial match: card member\u2019s name does not match, but street address and postal code match. Returned only for the American Express card type.|\n|I|No match: address not verified. Returned only for Visa cards not issued in the U.S.|\n|K|Partial match: card member\u2019s name matches, but billing address and billing postal code do not match. Returned only for the American Express card type.|\n|L|Partial match: card member\u2019s name and billing postal code match, but billing address does not match. Returned only for the American Express card type.|\n|M|See the entry for D & M.|\n|N|No match: one of the following: street address and postal code do not match _or_ (American Express card type only) card member\u2019s name, street address, and postal code do not match.|\n|O|Partial match: card member\u2019s name and billing address match, but billing postal code does not match. Returned only for the American Express card type.|\n|P|Partial match: postal code matches, but street address not verified. Returned only for Visa cards not issued in the U.S.|\n|R|System unavailable.|\n|S|Not supported: issuing bank in the U.S. does not support AVS.|\n|T|Partial match: card member\u2019s name does not match, but street address matches. Returned only for the American Express card type.|\n|U|System unavailable: address information unavailable for one of these reasons: The U.S. bank does not support AVS outside the U.S. _or_ The AVS in a U.S. bank is not functioning properly.|\n|V|Match: card member\u2019s name, billing address, and billing postal code match. Returned only for the American Express card type.|\n|W|Partial match: street address does not match, but 9-digit postal code matches.|\n|X|Match: street address and 9-digit postal code match.|\n|Y|Match: street address and 5-digit postal code match.|\n|Z|Partial match: street address does not match, but 5-digit postal code matches.|\n|1|Not supported: one of the following: AVS is not supported for this processor or card type _or_ AVS is disabled for your CyberSource account. To enable AVS, contact CyberSource Customer Support.|\n|2|Unrecognized: the processor returned an unrecognized value for the AVS response.|\n|3|Match: address is confirmed. Returned only for PayPal Express Checkout.|\n|4|No match: address is not confirmed. Returned only for PayPal Express Checkout.|\n|5|No match: no AVS code was returned by the processor.|\n"},"secCode":{"type":"string","maxLength":3,"description":"Specifies the authorization method for the transaction.\n\n#### TeleCheck\nAccepts only the following values:\n- `ARC`: account receivable conversion\n- `CCD`: corporate cash disbursement\n- `POP`: point of purchase conversion\n- `PPD`: prearranged payment and deposit entry\n- `TEL`: telephone-initiated entry\n- `WEB`: internet-initiated entry\n"},"terminalCity":{"type":"string","maxLength":4,"description":"City in which the terminal is located. If more than four alphanumeric characters are submitted, the transaction\nwill be declined.\n\nYou cannot include any special characters.\n"},"terminalState":{"type":"string","maxLength":2,"description":"State in which the terminal is located. If more than two alphanumeric characters are submitted, the transaction\nwill be declined.\n\nYou cannot include any special characters.\n"},"effectiveDate":{"type":"string","maxLength":8,"description":"Effective date for the transaction. The effective date must be within 45 days of the current day. If you do not\ninclude this value, CyberSource sets the effective date to the next business day.\n\nFormat: `MMDDYYYY`\n\nSupported only for the CyberSource ACH Service.\n"},"partialPaymentId":{"type":"string","maxLength":25,"description":"Identifier for a partial payment or partial credit.\n\nThe value for each debit request or credit request must be unique within the scope of the order.\n"},"customerMemo":{"type":"string","maxLength":80,"description":"Payment related information.\n\nThis information is included on the customer\u2019s statement.\n"},"paymentCategoryCode":{"type":"string","maxLength":1,"description":"Flag that indicates whether to process the payment.\n\nUse with deferred payments.\n\nPossible values:\n- `0`: Standard debit with immediate payment (default).\n- `1`: For deferred payments, indicates that this is a deferred payment and that you will send a debit request\nwith `paymentCategoryCode = 2` in the future.\n- `2`: For deferred payments, indicates notification to initiate payment.\n\n#### Chase Paymentech Solutions and TeleCheck\nUse for deferred and partial payments.\n\n#### CyberSource ACH Service\nNot used.\n\n#### RBS WorldPay Atlanta\nNot used.\n"},"settlementMethod":{"type":"string","maxLength":1,"description":"Method used for settlement.\n\nPossible values:\n- `A`: Automated Clearing House (default for credits and for transactions using Canadian dollars)\n- `F`: Facsimile draft (U.S. dollars only)\n- `B`: Best possible (U.S. dollars only) (default if the field has not already been configured for your\nmerchant ID)\n"},"fraudScreeningLevel":{"type":"string","maxLength":1,"description":"Level of fraud screening.\n\nPossible values:\n- `1`: Validation \u2014 default if the field has not already been configured for your merchant ID\n- `2`: Verification\n"},"customerPresent":{"type":"string","maxLength":1,"description":"Indicates whether a customer is physically present and whether the customer is enrolling in CyberSource Recurring Billing.\n\nPossible values:\n- `1`: Customer is present and not enrolling.\n- `2`: Customer is not present and not enrolling.\n- `3`: Customer is present and enrolling.\n- `4`: Customer is not present and enrolling.\n"}}},"purchaseOptions":{"type":"object","properties":{"isElectronicBenefitsTransfer":{"type":"boolean","description":"Flag that indicates whether this transaction is an EBT transaction. Possible values:\n- `true`\n- `false`\n\n#### PIN debit\nRequired field for EBT and EBT voucher transactions that use PIN debit credit or PIN debit purchase; otherwise, not used.\n"},"type":{"type":"string","maxLength":20,"description":"Flag that indicates an EBT voucher transaction. Possible value:\n- `EBT_VOUCHER`: Indicates the PIN debit transaction is an EBT voucher.\n- `BUY`\n- `RENT`\n- `BOOK`\n- `SUBSCRIBE`\n- `DOWNLOAD`\n- `ORDER`\n- `CONTINUE`\n\n#### PIN debit\nRequired field for EBT voucher transactions that use PIN debit purchase; otherwise, not used.\n"},"eligibilityIndicator":{"type":"string","maxLength":20,"description":"This field contains installment data defined by MasterCard.\nPossible values:\n  - Y = eligible\n  - N = not eligile\n"},"benefitAmount":{"type":"string","maxLength":20,"description":"Workplace benefit amount."},"benefitType":{"type":"string","maxLength":100,"description":"Workplace benefit type.\nPossible values:\n- 70 = employee benefit\n- 4T = transportation / transit\n- 52 = general benefit\n- 53 = meal voucher\n- 54 = fuel\n- 55 = ecological / sustainability\n- 58 = philanthropy / patronage / consumption\n- 59 = gift\n- 5S = sport / culture\n- 5T = book / education\n"}}},"electronicBenefitsTransfer":{"type":"object","properties":{"category":{"type":"string","maxLength":4,"description":"Flag that specifies the category for the EBT transaction.\n\nPossible values:\n- `CASH`: Cash benefits, which can be used to purchase any item at a participating retailer, as well as to obtain cash-back or make a cash withdrawal from a participating ATM.\n- `FOOD`: Food stamp benefits, which can be used only to purchase food items authorized by the USDA SNAP program.\n\n#### PIN debit\nRequired field for EBT transactions that use PIN debit credit or PIN debit purchase; otherwise, not used.\n"},"voucherSerialNumber":{"type":"string","maxLength":15,"description":"The serial number printed on the EBT voucher.\n\n#### PIN debit\nRequired field for EBT voucher transactions that use PIN debit purchase; otherwise, not used.\n"}}},"loanOptions":{"type":"object","properties":{"type":{"type":"string","maxLength":20,"description":"Type of loan based on an agreement between you and the issuer.\nExamples: AGROCUSTEIO, AGRO-INVEST, BNDES-Type1, CBN, FINAME.\nThis field is supported only for these kinds of payments:\n- BNDES transactions on CyberSource through VisaNet.\n- Installment payments with Mastercard on CyberSource through VisaNet in Brazil.\n\nFor BNDES transactions, the value for this field corresponds to the following data in the TC 33 capture file:\n- Record: CP07 TCR2, Position: 27-46, Field: Loan Type\n\nFor installment payments with Mastercard in Brazil, the value for this field corresponds to the following data in the TC 33 capture file:\n- Record: CP07 TCR4, Position: 5-24,Field: Financing Type\n"},"assetType":{"type":"string","maxLength":1,"description":"Indicates whether a loan is for a recoverable item or a non-recoverable item.\nPossible values:\n- `N`: non-recoverable item\n- `R`: recoverable item\nThis field is supported only for BNDES transactions on CyberSource through VisaNet.\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n Record: CP07 TCR2, Position: 26, Field: Asset Indicator\n"}}},"walletType":{"type":"string","maxLength":5,"description":"This field carries the wallet type in authorization requests and credit requests. Possible value are:\n- `101`: Masterpass remote payment. The customer created the wallet by manually interacting with a customer-controlled device such as a computer, tablet, or phone. This value is supported only for Masterpass transactions on Chase Paymentech Solutions and CyberSource through VisaNet.\n- `102`: Masterpass remote near field communication (NFC) payment. The customer created the wallet by tapping a PayPass card or customer-controlled device at a contactless card reader. This value is supported only for card-present Masterpass transactions on CyberSource through VisaNet.\n- `103`: Masterpass Apple Pay payment. The payment was made with a combination of Masterpass and Apple Pay. This value is supported only for Masterpass Apple Pay transactions on CyberSource through VisaNet.\n- `216`: Masterpass Google Pay payment. The payment was made with a combination of Masterpass and Google Pay. This value is supported only for Masterpass Google Pay transactions on CyberSource through VisaNet.\n- `217`: Masterpass Samsung Pay payment. The payment was made with a combination of Masterpass and Samsung Pay. This value is supported only for Masterpass Samsung Pay transactions on CyberSource through VisaNet.\n- `SDW`: Staged digital wallet. An issuer or operator created the wallet. This value is supported only for Masterpass transactions on Chase Paymentech Solutions.\n- `VCIND`: Visa Checkout payment. This value is supported only on CyberSource through VisaNet, FDC Compass, FDC Nashville Global, FDI Australia, and TSYS Acquiring Solutions. See Getting Started with Visa Checkout. For Visa Checkout transactions, the way CyberSource processes the value for this field depends on the processor. See the Visa Checkout section below.\nFor all other values, this field is a passthrough; therefore, CyberSource does not verify the value or modify it in any way before sending it to the processor.\nMasterpass (101, 102, 103, 216, and 217): The Masterpass platform generates the wallet type value and passes it to you along with the customer\u2019s checkout information.\n\nVisa Checkout:\nThis field is optional for Visa Checkout authorizations on FDI Australia. For all other processors, this field is required for Visa Checkout authorizations.\nFor Visa Checkout transactions on the following processors, CyberSource sends the value that the processor expects for this field:FDC Compass,FDC Nashville Global,FDI Australia,TSYS Acquiring\nSolutions For all other processors, this field is a passthrough; therefore, CyberSource does not verify the value or modify it in any way before sending it to the processor.\nFor incremental authorizations, this field is supported only for Mastercard and the supported values are 101 and 102.\nPayment card companies can introduce new values without notice. Your order management system should be able to process new values without problems.\n\nCyberSource through VisaNet\nWhen the value for this field is 101, 102, 103, 216, or 217, it corresponds to the following data in the TC 33 capture file5: Record: CP01 TCR6, Position: 88-90,  Field: Mastercard Wallet Identifier.\nWhen the value for this field is VCIND, it corresponds to the following data in the TC 33 capture file5: Record: CP01 TCR8, Position: 72-76, Field: Agent Unique ID.\n"},"nationalNetDomesticData":{"type":"string","maxLength":123,"description":"Supplementary domestic transaction information provided by the acquirer for National Net Settlement Service (NNSS) transactions. NNSS is a settlement service that Visa provides.\nFor transactions on CyberSource through VisaNet in countries that subscribe to NNSS:\nVisaNet clears transactions; VisaNet transfers funds to the acquirer after deducting processing fees and interchange fees.\nVisaNet settles transactions in the local pricing currency through a local financial institution.\nThis field is supported only on CyberSource through VisaNet for domestic data in Colombia\n"},"merchantVerificationValue":{"type":"string","maxLength":25,"description":"The override value of the Merchant Verification Value (MVV) received by various card brands. MVV refers to the value assigned by the card brand/network to identify participation in select merchant programs.\n\nSample value for Visa: `101010`\n"},"japanPaymentOptions":{"type":"object","properties":{"paymentMethod":{"type":"string","maxLength":2,"description":"This value is a 2-digit code indicating the payment method.\nUse Payment Method Code value that applies to the tranasction.\n- 10 (One-time payment)\n- 21, 22, 23, 24  (Bonus(one-time)payment)\n- 61 (Installment payment)\n- 31, 32, 33, 34  (Integrated (Bonus + Installment)payment)\n- 80 (Revolving payment)\n"},"bonuses":{"type":"array","description":"An array of objects, each of which contains a bonus month and bonus amount. \nLength of bonuses array is equal to the number of bonuses.  Max length = 6. \nIn case of bonus month and amount not specified, null objects to be returned in the array.\nExample: bonuses : [ {\"month\": \"1\",\"amount\": \"200\"}, {\"month\": \"3\",\"amount\": \"2500\"}, null]\n","items":{"type":"object","properties":{"month":{"type":"string","maxLength":2,"description":"This value is a 2-digit code indicating the first bonus month. Valid value from 1 to 12.\n"},"amount":{"type":"string","maxLength":8,"description":"This value contains the bonus amount of the first month. Maximum value without decimal 99999999.\n"}}}},"preapprovalType":{"type":"string","maxLength":1,"description":"This will contain the details of the kind of transaction that has been processe. Used only for Japan.\nPossible Values:\n- 0 = Normal (authorization with amount and clearing/settlement; data capture or paper draft)\n- 1 = Negative card authorization (authorization-only with 0 or 1 amount)\n- 2 = Reservation of authorization (authorization-only with amount)\n- 3 = Cancel transaction\n- 4 = Merchant-initiated reversal/refund transactions\n- 5 = Cancel reservation of authorization\n- 6 = Post authorization\n"},"installments":{"type":"string","maximum":99,"description":"Number of Installments.\n"},"terminalId":{"type":"string","maxLength":13,"description":"Unique Japan Credit Card Association (JCCA) terminal identifier.\n\nThe difference between this field and the `pointOfSaleInformation.terminalID` field is that you can define\n`pointOfSaleInformation.terminalID`, but `processingInformation.japanPaymentOptions.terminalId` is\ndefined by the JCCA and is used only in Japan.\n\nThis field is supported only on CyberSource through VisaNet and JCN Gateway.\n\nOptional field.\n"},"firstBillingMonth":{"type":"string","maxLength":2,"description":"Billing month in MM format.\n"},"businessName":{"type":"string","maxLength":25,"description":"Business name in Japanese characters. This field is supported only on JCN Gateway and for the Sumitomo Mitsui Card Co. acquirer on CyberSource through VisaNet.\n"},"businessNameKatakana":{"type":"string","maxLength":25,"description":"Business name in Katakana characters. This field is supported only on JCN Gateway and for the Sumitomo Mitsui Card Co. acquirer on CyberSource through VisaNet.\n"},"jis2TrackData":{"type":"string","maxLength":69,"description":"Japanese Industrial Standard Type 2 (JIS2) track data from the front of the card.\n\nThis field is supported only on CyberSource through VisaNet and JCN Gateway.\n\nOptional field.\n"},"businessNameAlphaNumeric":{"type":"string","maxLength":25,"description":"Business name in alphanumeric characters. This field is supported only on JCN Gateway and for the Sumitomo Mitsui Card Co. acquirer on CyberSource through VisaNet.\n"}}},"mobileRemotePaymentType":{"type":"string","maxLength":1,"description":"Type of payment initiated from a cardholder's mobile device. Possible values:\n- `1` :  Consumer-initiated remote purchase, face-to-face\n- `2` :  Consumer-initiated remote purchase, e-commerce\n- `3` :  Consumer-initiated remote purchase, mail order / telephone order\n- `4` :  Consumer-initiated bill pay\n- `5` :  Consumer-initiated top up\n- `6` :  Consumer-initiated cash out\n- `7` :  ATM triggered or agent-initiated cash out\n- `8` :  Merchant-initiated remote purchase, face-to-face\n- `9` :  Merchant-initiated remote purchase, e-commerce\n\nThis field is supported only for Mastercard transactions on CyberSource through VisaNet.\n\nOptional field.\n\n**Note** On CyberSource through VisaNet, the value for this field corresponds to the following data in the\nTC 33 capture file:\n- Record: CP01 TCR6\n- Position: 94\n- Field: Mastercard Mobile Remote Payment Program Indicator\n\nThe TC 33 Capture file contains information about the purchases and refunds that a merchant submits to CyberSource.\nCyberSource through VisaNet creates the TC 33 Capture file at the end of the day and sends it to the\nmerchant\u2019s acquirer, who uses this information to facilitate end-of-day clearing processing with payment networks.\n"},"extendedCreditTotalCount":{"type":"string","maxLength":1,"description":"A private national-use field submitted by acquirers and issuers in South Africa for South Africa-domestic (intra-country) authorizations and financial requests.\nValues for this field are 00 through 99.\n"},"networkRoutingOrder":{"type":"string","maxLength":30,"description":"On PIN Debit Gateways: This U.S.-only field is optionally used by  participants (merchants and acquirers) to specify the network access priority.\nVisaNet checks to determine if there are issuer routing preferences for any of the networks specified by the sharing group code.\nIf an issuer preference exists for one of the specified debit networks, VisaNet makes a routing selection based on the issuer\u2019s preference.\nIf an issuer preference exists for more than one of the specified debit networks, or if no issuer preference exists,\nVisaNet makes a selection based on the acquirer\u2019s routing priorities.\n\n#### PIN debit\nPriority order of the networks through which he transaction will be routed. Set this value to a series of one-character network codes in your preferred order. This is a list of the network codes:\n\n| Network | Code |\n| --- | --- |\n| Accel | E |\n| AFFN | U |\n| Alaska Option | 3 |\n| CU24 | C |\n| Interlink | G |\n| Maestro | 8 |\n| NETS | P |\n| NYCE | F |\n| Pulse | H |\n| Shazam | 7 |\n| Star | M |\n| Visa | V |\n\nFor example, if the Star network is your first preference and Pulse is your second preference, set this field to a value of `MH`.\n\nWhen you do not include this value in your PIN debit request, the list of network codes from your account is used.\n**Note** This field is supported only for businesses located in the U.S.\n\nOptional field for PIN debit credit or PIN debit purchase.\n"},"payByPointsIndicator":{"type":"boolean","description":"Flag that indicates if the transaction is pay by points transaction\ntrue: Transaction uses loyalty points\nfalse: Transaction does not use loyalty points\nDefault: false\n"},"timeout":{"type":"integer","description":"Minutes until a pending MyBank transaction will be timed out. Value\nmust be between 5 and 30. Default is 5.\n"},"isReturnAuthRecordEnabled":{"type":"boolean","description":"Flag that indicates the functionality we are having for merchants for which auth is done through Cybersource but\nsettlement is done by themselves.\ntrue: functionality is supported. Processor should send raw processor auth response to Merchant.\nfalse: functionality is not supported.\nDefault: false\n"},"networkPartnerId":{"type":"string","maxLength":11,"description":"Merchant payment gateway ID that is assigned by Mastercard and is provided by the acquirer when a registered merchant payment gateway service provider is involved in the transaction.\n\nThis field is supported for Visa Platform Connect.\n"},"paymentType":{"type":"string","maxLength":3,"description":"Identifier for the payment type.\n"},"enablerId":{"type":"string","maxLength":15,"description":"Enablers are payment processing entities that are not acquiring members and are often the primary relationship owner with merchants and originators. Enablers own technical solutions through which the merchant or originator will access acceptance. The Enabler ID is a five-character hexadecimal identifier that will be used by Visa to identify enablers. Enabler ID assignment will be determined by Visa. Visa will communicate Enablers assignments to enablers.\n"},"processingInstruction":{"type":"string","maxLength":36,"description":"The instruction to process an order.\n- default value: 'NO_INSTRUCTION'\n- 'ORDER_SAVED_EXPLICITLY'\n"},"transactionTypeIndicator":{"type":"string","maxLength":3,"description":"This field is used identify the type of payment transaction taking place. This field is applicable for MasterCard transactions only.\nPossible values:\n- 201- Mastercard Rebate\n- 202- rePower Load Value\n- 203- Gaming Re-pay\n- 204- General Person-to-Person\n- 205- General Transfer to Own Account\n- 206- Agent Cash Out\n- 207- Payment of Own Credit Card Bill\n- 208- Business Disbursement\n- 209- Government/Non-Profit Disbursement\n- 210- Rapid Merchant Settlement\n- 211- Cash in at ATM (Usage limited to specific countries)\n- 212- Cash in at Point of Sale (Usage limited to specific countries)\n- 213- General Business to Business Transfer\n- 214- Mastercard Merchant Presented QR\n- 215- Mastercard Merchant Presented QR Refund Payment\n- 216- Utility Payments (for Brazil domestic use only)\n- 217- Government Services (for Brazil domestic use only)\n- 218- Mobile phone top-ups (for Brazil domestic use only)\n- 219- Coupon booklet payments (for Brazil domestic use only)\n- 220- General Person-to-Person Transfer\n- 221- Person-to-Person Transfer to Card Account\n- 222- General Transfer to Own Account\n- 223- Agent Cash Out\n- 224- Payment of Own Credit Card Bill\n- 225- Business Disbursement\n- 226- Transfer to Own Staged Digital Wallet Account\n- 227- Transfer to Own Debit or Prepaid Account\n- 228- General Business-to-Business Transfer\n- 229- Installment-based repayment\n- 230- Mastercard ATM Cash Pick-Up Transaction\n- 231- Cryptocurrency\n- 232- High-risk Securities\n"},"purposeOfPayment":{"type":"string","maxLength":25,"description":"This field is applicable for AFT and OCT transactions. For list of supported values, please refer to Developer Guide.\n"},"languageCode":{"type":"string","maxLength":10,"description":"Contains the ISO 639-2 defined language Code\n"},"originalPaymentId":{"type":"string","maxLength":26,"description":"This value is used for linking Authorization extension transaction to the original Authorization transaction \nand for linking MIT (Merchant initiated transaction) with the respective CIT (Customer initiated transaction).\n"}}},"issuerInformation":{"type":"object","properties":{"discretionaryData":{"type":"string","maxLength":255,"description":"Data defined by the issuer.\n\nThe value for this reply field will probably be the same as the value that you submitted in the authorization request, but it is possible for the processor, issuer, or acquirer to modify the value.\n\nThis field is supported only for Visa transactions on **CyberSource through VisaNet**.\n"}}},"paymentInformation":{"type":"object","properties":{"card":{"type":"object","properties":{"number":{"type":"string","maxLength":20,"description":"The customer\u2019s payment card number, also known as the Primary Account Number (PAN). You can also use this field\nfor encoded account numbers.\n\n#### FDMS Nashville\nRequired. String (19)\n\n#### GPX\nRequired if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured\nfor relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine\nwhether a field is required for the transaction you are requesting.\n\n#### All other processors\nRequired if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured\nfor relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine\nwhether a field is required for the transaction you are requesting.\n"},"expirationMonth":{"type":"string","maxLength":2,"description":"Two-digit month in which the payment card expires.\n\nFormat: `MM`.\n\nValid values: `01` through `12`. Leading 0 is required.\n\n#### Barclays and Streamline\nFor Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value\n(`01` through `12`) but is not required to be a valid expiration date. In other words, an expiration date that is\nin the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause\nthe issuer to reject your request.\n\n#### Encoded Account Numbers\nFor encoded account numbers (_type_=039), if there is no expiration date on the card, use `12`.\n\n#### FDMS Nashville\nRequired field.\n\n#### All other processors\nRequired if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured\nfor relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine\nwhether a field is required for the transaction you are requesting.\n\n#### Google Pay transactions\nFor PAN-based Google Pay transactions, this field is returned in the API response.\n"},"expirationYear":{"type":"string","maxLength":4,"description":"Four-digit year in which the payment card expires.\n\nFormat: `YYYY`.\n\n#### Barclays and Streamline\nFor Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (`1900` through `3000`) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.\n\n#### Encoded Account Numbers\nFor encoded account numbers (**_type_**`=039`), if there is no expiration date on the card, use `2021`.\n\n#### FDMS Nashville\nRequired field.\n\n#### FDC Nashville Global and FDMS South\nYou can send in 2 digits or 4 digits. If you send in 2 digits, they must be the last 2 digits of the year.\n\n#### All other processors\nRequired if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured\nfor relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine\nwhether a field is required for the transaction you are requesting.\n\n#### Google Pay transactions\nFor PAN-based Google Pay transactions, this field is returned in the API response.\n"},"type":{"type":"string","description":"Three-digit value that indicates the card type.\n\n**IMPORTANT** It is strongly recommended that you include the card type field in request messages even if it is\noptional for your processor and card type. Omitting the card type can cause the transaction to be processed with the wrong card type.\n\nPossible values:\n- `001`: Visa. Use card type value `001` for Visa Electron.\n- `002`: Mastercard, Eurocard[^1], which is a European regional brand of Mastercard.\n- `003`: American Express\n- `004`: Discover\n- `005`: Diners Club\n- `006`: Carte Blanche[^1]\n- `007`: JCB[^1]\n- `008`: Optima\n- `009`: GE Private Label\n- `010`: Beneficial Private Label\n- `011`: Twinpay Credit Card\n- `012`: Twinpay Debit Card\n- `013`: WalMart\n- `014`: Enroute[^1]\n- `015`: Lowe's Consumer\n- `016`: Home Depot Consumer\n- `017`: MBNA\n- `018`: Dick's Sportswear\n- `019`: Casual Corner\n- `020`: Sears\n- `021`: JAL[^1]\n- `023`: Disney Card\n- `024`: Maestro (UK Domestic)[^1]\n- `025`: Sam's Club Consumer\n- `026`: Sam's Club Business\n- `027`: Nico's\n- `028`: Paymentech Bill Me Later\n- `029`: Bebe\n- `030`: Restoration Hardware\n- `031`: Delta Online\n- `032`: Solo\n- `033`: Visa Electron[^1]. Do not use this value. Use `001` for all Visa card types.\n- `034`: Dankort[^1]\n- `035`: Laser\n- `036`: Cartes Bancaires[^1,4]\n- `037`: Carta Si[^1]\n- `038`: Pinless Debit\n- `039`: Encoded account number[^1]\n- `040`: UATP[^1]\n- `041`: HOUSEHOLD\n- `042`: Maestro (International)[^1]\n- `043`: GE MONEY\n- `044`: Korean Cards\n- `045`: Style Cards\n- `046`: JCrew\n- `047`: Payeasecn eWallet\n- `048`: Payeasecn Bank Transfer\n- `049`: Meijer\n- `050`: Hipercard[^2,3]\n- `051`: Aura\n- `052`: Redecard\n- `053`: Orico card\n- `054`: Elo[^3]\n- `055`: Capitol One Private Label\n- `056`: Carnet\n- `057`: Costco Private Label\n- `058`: Carnet\n- `059`: ValueLink\n- `060`: MADA\n- `061`: RuPay\n- `062`: China UnionPay\n- `063`: Falabella Private Label\n- `064`: Prompt Card\n- `065`: Korean Domestic\n- `066`: Banricompras\n- `067`: MEEZA\n- `068`: PayPak\n- `070`: EFTPOS\n- `071`: Codensa\n- `072`: Olimpica\n- `073`: Colsubsidio\n- `074`: Tuya\n- `075`: Sodexo\n- `076`: Naranja\n- `077`: Cabal\n- `078`: DINELCO\n- `079`: PANAL\n- `080`: EPM\n- `081`: Jaywan\n\n[^1]: For this card type, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in your request for an authorization or a stand-alone credit.\n[^2]: For this card type on Cielo 3.0, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit. This card type is not supported on Cielo 1.5.\n[^3]: For this card type on Getnet and Rede, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit.\n[^4]: For this card type, you must include the `paymentInformation.card.type` in your request for any payer authentication services.\n\n#### Used by\n**Authorization**\nRequired for Carte Blanche and JCB.\nOptional for all other card types.\n\n#### Card Present reply\nThis field is included in the reply message when the client software that is installed on the POS terminal uses\nthe token management service (TMS) to retrieve tokenized payment details. You must contact customer support to\nhave your account enabled to receive these fields in the credit reply message.\n\nReturned by the Credit service.\n\nThis reply field is only supported by the following processors:\n- American Express Direct\n- Credit Mutuel-CIC\n- FDC Nashville Global\n- OmniPay Direct\n- SIX\n\n#### Google Pay transactions\nFor PAN-based Google Pay transactions, this field is returned in the API response.\n\n#### GPX\nThis field only supports transactions from the following card types:\n- Visa\n- Mastercard\n- AMEX\n- Discover\n- Diners\n- JCB\n- Union Pay International\n"},"useAs":{"type":"string","maxLength":20,"description":"Flag that specifies the type of account associated with the card.  This field is available only for China UnionPay, Cielo, Comercio Latino and Visa Platform Connect.\nThe cardholder provides this information during the payment process.  This field is required for:\n - Debit transactions on Cielo and Comercio Latino.\n - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n\n**China UnionPayCard Transactions on China UnionPay:**\nPossible values:\n - C: Domestic credit card\n - D: Domestic debit card\n - F: International credit card\n - I: International debit card\n\nWhen the value is D, the e-commerce indicator and CAVV fields must be included in the authorization request.\nWhen the value is C, F or I the card verification number, expiration month and expiration year fields must in included in the authorization request.\n\n**Cielo and Comercio Latino Credit Card Transactions:**\nOn these processors, this field is supported only for authorizations.  Possible values:\n - CR: Credit card\n - DB: Debit card     \n\n**Visa Platform Connect Credit Card Transactions:**\nThis field is supported for all card types on Visa Platform Connect.\nFor combo **card present** transactions with Mastercard on Brazilian-issued cards, possible values:\n - CR: Credit card\n - DB: Debit Card\n\nFor combo **card not present** transactions with Mastercard on Brazilian-issued cards, possible values:\n - C: Credit card\n - D: Debit card\n\nA value of CR or DB in the useAs field takes precedence over any value in the Source Account Type field.\n"},"sourceAccountType":{"type":"string","maxLength":20,"description":"Flag that specifies the type of account associated with the card. \nThe cardholder provides this information during the payment process.\n\nThis field is required in the following cases:\n  - Debit transactions on Cielo and Comercio Latino.\n  - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n  - Applicable only for CyberSource through VisaNet (CtV).\n\n**Note** Combo cards in Brazil contain credit and debit functionality in a single card. Visa systems use a credit bank\nidentification number (BIN) for this type of card. Using the BIN to determine whether a card is debit or\ncredit can cause transactions with these cards to be processed incorrectly. CyberSource strongly recommends\nthat you include this field for combo card transactions.\n\nPossible values include the following.\n\n - `CH`: Checking account\n - `CR`: Credit card account\n - `SA`: Saving account\n - `LI`: Line of credit or credit portion of combo card\n - `PP`: Prepaid card account or prepaid portion of combo card\n - `UA`: Universal account\n\nIf useAs is set to credit/debit and there is a value in SourceAccountType, the value in the SourceAccountType field will take precedence.\nIf useAs is set to CR/DB and there is a value in SourceAccountType, the value in the useAs field will take precedence.\n"},"sourceAccountTypeDetails":{"type":"string","maxLength":4,"description":"Type of account that is being used when the value for the override_payment_method field is line of credit (LI) or prepaid card (PP).\nPossible values for line of credit:\n- `AGRC`: Visa Agro Custeio\n- `AGRE`: Visa Agro Electron\n- `AGRI`: Visa Agro Investimento\n- `AGRO`: Visa Agro\nPossible values for prepaid card:\n- `VVA`: Visa Vale Alimentacao\n- `VVF`: Visa Vale Flex\n- `VVR`: Visa Vale Refeicao\nThis field is supported only for combo card transactions in Brazil on CyberSource through VisaNet.\n"},"securityCode":{"type":"string","maxLength":4,"description":"Card Verification Number.\n\n#### FDMS Nashville\nRequired for American Express or if swiped; otherwise, optional.\n\n#### Ingenico ePayments\nDo not include this field when `commerceIndicator=recurring`.\n**Note** Ingenico ePayments was previously called _Global Collect_.\n\n#### TSYS Acquiring Solutions\nOptional if pointOfSaleInformation.entryMode=keyed; otherwise, not used.\n\n#### GPX\nOptional.\n\n#### All other processors:\nOptional.\n"},"securityCodeIndicator":{"type":"string","maxLength":1,"description":"Indicates whether a CVN code was sent. Possible values:\n\n - `0` (default): CVN service not requested. This default value is used when you do not include\n     `securityCode` field in the request.\n - `1` (default): CVN service requested and supported. This default value is used when you include\n     `securityCode` field in the request.\n - `2`: CVN on credit card is illegible.\n - `9`: CVN was not imprinted on credit card.\n\n#### FDMS Nashville\nRequired for American Express cards; otherwise, optional.\n\n#### TSYS Acquiring Solutions\nOptional if `pointOfSaleInformation.entryMode=keyed`; otherwise, not used.\n\n#### All other processors\nOptional.\n"},"accountEncoderId":{"type":"string","maxLength":3,"description":"Identifier for the issuing bank that provided the customer\u2019s encoded account number. Contact your processor for the bank\u2019s ID.\n"},"issueNumber":{"type":"string","maxLength":5,"description":"Number of times a Maestro (UK Domestic) card has been issued to the account holder. The card might or might not have an issue number. The number can consist of one or two digits, and the first digit might be a zero. When you include this value in your request, include exactly what is printed on the card. A value of 2 is different than a value of 02. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card.\n\n**Note** The issue number is not required for Maestro (UK Domestic) transactions.\n"},"startMonth":{"type":"string","maxLength":2,"description":"Month of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: MM`. Possible values: 01 through 12.\n\n**Note** The start date is not required for Maestro (UK Domestic) transactions.\n"},"startYear":{"type":"string","maxLength":4,"description":"Year of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: YYYY`.\n\n**Note** The start date is not required for Maestro (UK Domestic) transactions.\n"},"productName":{"type":"string","maxLength":15,"description":"Name of the card product.\n\nPossible value:\n- BNDES\n\nThis field is supported only for BNDES transactions on CyberSource through VisaNet.\n\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP07 TCR4\n- Position: 115-120\n- Field: Brazil Country Data\n"},"productSubtype":{"type":"string","maxLength":2,"description":"This field would contain the indicator for transaction type\n\nPossible values:\n- AC: Agriculture Maintenance Account\n- AE: Agriculture Debit Account/Electron \n- AG: Agriculture \n- AI: Agriculture Investment Loan\n- CG: Brazil Cargo\n- CS: Construction \n- DS: Distribution \n- HC: Healthcare\n- LP: Visa Large Purchase Advantage\n- MA: Visa Mobile Agent\n- MB: Interoperable Mobile Branchless Banking\n- MG: Visa Mobile General\n- VA: Visa Vale - Supermarket\n- VF: Visa Vale - Fuel\n- VR: Visa Vale - Restaurant\n"},"typeSelectionIndicator":{"type":"string","maxLength":1,"description":"Flag that identifies how the card type was selected.\n\nPossible values:\n- 0: Card type was selected based on default acquirer settings.\n- 1: Customer selected the card type.\n"}}},"tokenizedCard":{"type":"object","properties":{"number":{"type":"string","maxLength":20,"description":"Customer\u2019s payment network token value.\n"},"expirationMonth":{"type":"string","maxLength":2,"description":"One of two possible meanings:\n- The two-digit month in which a token expires.\n- The two-digit month in which a card expires.\nFormat: `MM`\nPossible values: `01` through `12`\n\n**NOTE** The meaning of this field is dependent on the payment processor that is returning the value in an authorization reply. Please see the processor-specific details below.\n\n#### Barclays and Streamline\nFor Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (`01` through `12`) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.\n\n#### Encoded Account Numbers\nFor encoded account numbers (`card_type=039`), if there is no expiration date on the card, use `12`.\\\n**Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\n#### Samsung Pay and Apple Pay\nMonth in which the token expires. CyberSource includes this field in the reply message when it decrypts the payment blob for the tokenized transaction.\n"},"expirationYear":{"type":"string","maxLength":4,"description":"One of two possible meanings:\n- The four-digit year in which a token expires.\n- The four-digit year in which a card expires.\nFormat: `YYYY`\nPossible values: `1900` through `3000`\nData type: Non-negative integer\n\n**NOTE** The meaning of this field is dependent on the payment processor that is returning the value in an authorization reply. Please see the processor-specific details below.\n\n#### Barclays and Streamline\nFor Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (1900 through\n3000) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.\n\n#### Encoded Account Numbers\nFor encoded account numbers (`card_ type=039`), if there is no expiration date on the card, use `2021`.\n\n#### FDC Nashville Global and FDMS South\nYou can send in 2 digits or 4 digits. When you send in 2 digits, they must be the last 2 digits of\nthe year.\n\n#### Samsung Pay and Apple Pay\nYear in which the token expires. CyberSource includes this field in the reply message when it decrypts the payment blob for the tokenized transaction.\n\n**Important** It is your responsibility to determine whether a field is required for the transaction\nyou are requesting.\n"},"type":{"type":"string","description":"Three-digit value that indicates the card type.\n\n**IMPORTANT** It is strongly recommended that you include the card type field in request messages even if it is\noptional for your processor and card type. Omitting the card type can cause the transaction to be processed with the wrong card type.\n\nPossible values:\n- `001`: Visa. Use card type value `001` for Visa Electron.\n- `002`: Mastercard, Eurocard[^1], which is a European regional brand of Mastercard.\n- `003`: American Express\n- `004`: Discover\n- `005`: Diners Club\n- `006`: Carte Blanche[^1]\n- `007`: JCB[^1]\n- `008`: Optima\n- `009`: GE Private Label\n- `010`: Beneficial Private Label\n- `011`: Twinpay Credit Card\n- `012`: Twinpay Debit Card\n- `013`: WalMart\n- `014`: Enroute[^1]\n- `015`: Lowe's Consumer\n- `016`: Home Depot Consumer\n- `017`: MBNA\n- `018`: Dick's Sportswear\n- `019`: Casual Corner\n- `020`: Sears\n- `021`: JAL[^1]\n- `023`: Disney Card\n- `024`: Maestro (UK Domestic)[^1]\n- `025`: Sam's Club Consumer\n- `026`: Sam's Club Business\n- `027`: Nico's\n- `028`: Paymentech Bill Me Later\n- `029`: Bebe\n- `030`: Restoration Hardware\n- `031`: Delta Online\n- `032`: Solo\n- `033`: Visa Electron[^1]. Do not use this value. Use `001` for all Visa card types.\n- `034`: Dankort[^1]\n- `035`: Laser\n- `036`: Cartes Bancaires[^1,4]\n- `037`: Carta Si[^1]\n- `038`: Pinless Debit\n- `039`: Encoded account number[^1]\n- `040`: UATP[^1]\n- `041`: HOUSEHOLD\n- `042`: Maestro (International)[^1]\n- `043`: GE MONEY\n- `044`: Korean Cards\n- `045`: Style Cards\n- `046`: JCrew\n- `047`: Payeasecn eWallet\n- `048`: Payeasecn Bank Transfer\n- `049`: Meijer\n- `050`: Hipercard[^2,3]\n- `051`: Aura\n- `052`: Redecard\n- `053`: Orico card\n- `054`: Elo[^3]\n- `055`: Capitol One Private Label\n- `056`: Carnet\n- `057`: Costco Private Label\n- `058`: Carnet\n- `059`: ValueLink\n- `060`: MADA\n- `061`: RuPay\n- `062`: China UnionPay\n- `063`: Falabella Private Label\n- `064`: Prompt Card\n- `065`: Korean Domestic\n- `066`: Banricompras\n- `067`: MEEZA\n- `068`: PayPak\n- `070`: EFTPOS\n- `071`: Codensa\n- `072`: Olimpica\n- `073`: Colsubsidio\n- `074`: Tuya\n- `075`: Sodexo\n- `076`: Naranja\n- `077`: Cabal\n- `078`: DINELCO\n- `079`: PANAL\n- `080`: EPM\n- `081`: Jaywan\n\n[^1]: For this card type, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in your request for an authorization or a stand-alone credit.\n[^2]: For this card type on Cielo 3.0, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit. This card type is not supported on Cielo 1.5.\n[^3]: For this card type on Getnet and Rede, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit.\n[^4]: For this card type, you must include the `paymentInformation.card.type` in your request for any payer authentication services.\n\n#### Used by\n**Authorization**\nRequired for Carte Blanche and JCB.\nOptional for all other card types.\n\n#### Card Present reply\nThis field is included in the reply message when the client software that is installed on the POS terminal uses\nthe token management service (TMS) to retrieve tokenized payment details. You must contact customer support to\nhave your account enabled to receive these fields in the credit reply message.\n\nReturned by the Credit service.\n\nThis reply field is only supported by the following processors:\n- American Express Direct\n- Credit Mutuel-CIC\n- FDC Nashville Global\n- OmniPay Direct\n- SIX\n\n#### Google Pay transactions\nFor PAN-based Google Pay transactions, this field is returned in the API response.\n\n#### GPX\nThis field only supports transactions from the following card types:\n- Visa\n- Mastercard\n- AMEX\n- Discover\n- Diners\n- JCB\n- Union Pay International\n"},"cryptogram":{"type":"string","maxLength":255,"description":"This field contains token information."},"requestorId":{"type":"string","maxLength":11,"description":"Value that identifies your business and indicates that the cardholder\u2019s account number is tokenized. This value\nis assigned by the token service provider and is unique within the token service provider\u2019s database.\n\n**Note** This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.\n\n#### PIN debit\nOptional field for PIN debit credit or PIN debit purchase transactions that use payment network tokens; otherwise, not used.\n"},"transactionType":{"type":"string","maxLength":1,"description":"Type of transaction that provided the token data. This value does not specify the token service provider; it specifies the entity that\nprovided you with information about the token.\n\nPossible value:\n- `2`: Near-field communication (NFC) transaction. The customer\u2019s mobile device provided the token data for a contactless EMV transaction. For recurring\ntransactions, use this value if the original transaction was a contactless EMV transaction.\n\n#### Visa Platform Connect\n- `1`: For Rupay and In App tokenization. Example: InApp apple pay.\n- `3`: Card/Credential On File Tokenization.\n\n**NOTE** No CyberSource through VisaNet acquirers support EMV at this time.\n\nRequired field for PIN debit credit or PIN debit purchase transactions that use payment network tokens; otherwise, not used.\n\n#### Rupay\n- `3`: Card/Credential On File Tokenization.\n- `4`: Tokenizined Transaction. Should be used for Guest Checkout transactions with token.\n"},"assuranceLevel":{"type":"string","maxLength":2,"description":"Confidence level of the tokenization. This value is assigned by the token service provider.\n\n**Note** This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.\n\nReturned by PIN debit credit or PIN debit purchase.\n\n**Note** Merchants supported for **CyberSource through VisaNet**/**Visa Platform Connect** are advised not to use this field.\n"},"storageMethod":{"type":"string","maxLength":3,"description":"Type of technology used in the device to store token data. Possible values:\n\n- `001`: Secure Element (SE). Smart card or memory with restricted access and encryption to prevent data tampering. For storing payment\n   credentials, a SE is tested against a set of requirements defined by the payment networks.\n\n   **Note** This field is supported only for _FDC Compass_.\n\n- 002: Host Card Emulation (HCE). Emulation of a smart card by using software to create a virtual and exact representation of the card.\nSensitive data is stored in a database that is hosted in the cloud. For storing payment credentials, a database\nmust meet very stringent security requirements that exceed PCI DSS.\n\n**Note** This field is supported only for _FDC Compass_.\n"},"securityCode":{"type":"string","maxLength":4,"description":"Card Verification Number (CVN).\n\n#### Ingenico ePayments\nDo not include this field when **commerceIndicator=recurring**.\n**Note** Ingenico ePayments was previously called _Global Collect_.\n"},"securityCodeIndicator":{"type":"string","maxLength":1,"description":"Indicates whether a CVN code was sent. Possible values:\n\n - `0` (default): CVN service not requested. This default value is used when you do not include\n     `securityCode` field in the request.\n - `1` (default): CVN service requested and supported. This default value is used when you include\n     `securityCode` field in the request.\n - `2`: CVN on credit card is illegible.\n - `9`: CVN was not imprinted on credit card.\n\n#### FDMS Nashville\nRequired for American Express cards; otherwise, optional.\n\n#### TSYS Acquiring Solutions\nOptional if `pointOfSaleInformation.entryMode=keyed`; otherwise, not used.\n\n#### All other processors\nOptional.\n"},"assuranceMethod":{"type":"string","maxLength":2,"description":"Confidence level of the tokenization. This value is assigned by the token service provider.\n\n**Note** This field is supported only for **Visa Platform Connect**\n"}}},"tokenizedPaymentMethod":{"type":"object","properties":{"id":{"type":"string","maxLength":255,"description":"The PayPal-generated ID for the token.\n"}}},"directDebit":{"type":"object","properties":{"mandate":{"type":"object","properties":{"clearingDate":{"type":"string","maxLength":8,"description":"This is the date on which the SEPA DD should be executed. Debit date: the day on which the payer's account is debited.\n"}}}}},"fluidData":{"type":"object","properties":{"keySerialNumber":{"type":"string","description":"The encoded or encrypted value that a payme
[...]
