{"swagger":"2.0","info":{"title":"Cybersource Payments REST API","description":"Move your business forward with the Cybersource Payments REST API","version":"2.0.0","contact":{"name":"Cybersource","url":"http://www.cybersource.com/about/contact_us/"}},"host":"apitest.cybersource.com","schemes":["https"],"basePath":"/","consumes":["application/json;charset=utf-8"],"produces":["application/hal+json;charset=utf-8"],"x-devcenter-metaData":{"categoryTagArray":[{"name":"Payments","description":"For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html)."},{"name":"Transaction_Batches","description":"For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html)."},{"name":"eCheck_AVS","description":"For more information about eCheck Account Validation, see the [Account Validation Developer Guides Page](https://...)."}]},"tags":[{"name":"payments","description":"A payment authorizes the amount for the transaction. There are a number of supported payment\ninstruments, such as Credit Card, Debit Card, e-Wallet, and Alternative Payments. A payment\nresponse includes the status of the request. It also includes processor-specific information\nwhen the request is successful and errors if unsuccessful.\n"},{"name":"capture","description":"When you are ready to fulfill a customer\u2019s order and transfer funds from the customer\u2019s\nbank to your bank, capture the payment for that order.\n"},{"name":"reversal","description":"An authorization reversal releases the hold that the payment placed on the customer\u2019s funds."},{"name":"refund","description":"A refund is a follow-on transaction that uses the ID returned from either a payment or capture request.\n"},{"name":"credit","description":"A credit is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"},{"name":"void","description":"A void cancels a payment or capture. A transaction can be voided only when CyberSource has not already\nsubmitted the capture to your processor. You cannot undo a void.\n"},{"name":"options","description":"An option is a service that is used to retrieve meta data, rendering details and different payment options available from Cybersource.\nIt can be used in many ways and Merchants must consult their Technical Partner in Cybersource for further details.\n"},{"name":"TransactionBatches","description":"Get a list of batch files or details of Individual file processed through the Offline Transaction Submission Services.\n"},{"name":"AccountValidations","description":"A eCheck account validation enable you to determine, in real time, whether to\nproceed with an electronic check debit or the creation of a recurring electronic check\nsubscription.\n"},{"name":"billingAgreements","description":"A billingAgreement is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"},{"name":"orders","description":"An order is a service that is used for initiating a transaction with itemized details, shipping, billing and buyer information. \n"},{"name":"payment-tokens","description":"A payment-tokens is a service that is used for retrieving vault details or deleting vault id/payment method.\n"}],"paths":{"/pts/v2/payment-tokens":{"post":{"summary":"Retrieve or Delete Payment Token","description":"This API can be used in two flavours - for retrieval or deletion of vault id.\n","tags":["payment-tokens"],"operationId":"retrieveOrDeletePaymentToken","x-devcenter-metaData":{"categoryTag":"Payments","developerGuides":"https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html"},"parameters":[{"name":"request","in":"body","required":true,"schema":{"type":"object","properties":{"processingInformation":{"type":"object","properties":{"actionList":{"type":"array","description":"Array of actions (one or more) to be included in the payment to invoke bundled services.\nPossible values are one or more of follows:\n\n - `TOKEN_RETRIEVE`: Use this when Alternative Payment token retrieval is requested.\n - `TOKEN_DELETE`: Use this when Alternative Payment token deletion is requested.\n","items":{"type":"string"}}}},"paymentInformation":{"type":"object","properties":{"paymentType":{"type":"object","properties":{"name":{"type":"string","description":"A Payment Type is an agreed means for a payee to receive legal tender from a payer. The way one pays for a commercial financial transaction. Examples: Card, Bank Transfer, Digital, Direct Debit.\nPossible values:\n- `CARD` (use this for a PIN debit transaction)\n- `CHECK` (use this for all eCheck payment transactions - ECP Debit, ECP Follow-on Credit, ECP StandAlone Credit)\n- `bankTransfer` (use for Online Bank Transafer for methods such as P24, iDeal, Estonia Bank, KCP)\n- `localCard` (KCP Local card via Altpay)\n- `carrierBilling` (KCP Carrier Billing via Altpay)\n"},"method":{"type":"object","properties":{"name":{"type":"string","description":"A Payment Type is enabled through a Method. Examples: Visa, Master Card, ApplePay, iDeal, 7Eleven, alfamart, bofaPayByBank, payToPayByBank, etc\n\nFor Japan Payment Processing Valid Values:\n- 1 Banking Data\n- 2 Authorization Data\n\n#### Via KCP\n- `KCP` : Local Card, Bank Transfer and Carrier Billing.\n- `PAYCO`\n- `KAKAOPAY`\n- `NAVERPAY`\n"}}}}},"tokenizedPaymentMethod":{"type":"object","properties":{"id":{"type":"string","maxLength":255,"description":"The PayPal-generated ID for the token.\n"}}}}}}}}],"responses":{"201":{"description":"Successful response.","schema":{"type":"object","properties":{"id":{"type":"string","maxLength":26,"description":"An unique identification number generated by Cybersource to identify the submitted request. Returned by all services.\nIt is also appended to the endpoint of the resource.\nOn incremental authorizations, this value with be the same as the identification number returned in the original authorization response.\n"},"status":{"type":"string","description":"The status of the request.\n\nPossible values:\n - COMPLETED\n"},"paymentInformation":{"type":"object","properties":{"tokenizedPaymentMethod":{"type":"object","properties":{"id":{"type":"string","maxLength":255,"description":"The PayPal-generated ID for the token.\n"},"usageType":{"type":"string","maxLength":255,"description":"Indicates the type of vaulting relationship. Valid values:\n- \u201cMERCHANT\u201d: Single merchant relationship.\n- \u201cPLATFORM\u201d: Platform hosting multiple merchants.\n"}}},"eWallet":{"type":"object","properties":{"accountId":{"type":"string","maxLength":26,"description":"The unique ID for a customer generated by PayPal."}}}}},"orderInformation":{"type":"object","properties":{"shipTo":{"type":"object","properties":{"firstName":{"type":"string","maxLength":60,"description":"First name of the recipient.\n\n#### Litle\nMaximum length: 25\n\n#### All other processors\nMaximum length: 60\n\nOptional field.\n"},"lastName":{"type":"string","maxLength":60,"description":"Last name of the recipient.\n\n#### Litle\nMaximum length: 25\n\n#### All other processors\nMaximum length: 60\n\nOptional field.\n"},"address1":{"type":"string","maxLength":60,"description":"First line of the shipping address.\n\nRequired field for authorization if any shipping address information is included in the request; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"address2":{"type":"string","maxLength":60,"description":"Second line of the shipping address.\n\nOptional field.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"administrativeArea":{"type":"string","maxLength":50,"description":"State or province of the shipping address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf) (maximum length: 2) \n\nRequired field for authorization if any shipping address information is included in the request and shipping to the U.S.\nor Canada; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"locality":{"type":"string","maxLength":50,"description":"City of the shipping address.\n\nRequired field for authorization if any shipping address information is included in the request and shipping to the U.S. or\nCanada; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"postalCode":{"type":"string","maxLength":32,"description":"Postal code for the shipping address. The postal code must consist of 5 to 9 digits.\n\nRequired field for authorization if any shipping address information is included in the request and\nshipping to the U.S. or Canada; otherwise, optional.\n\nWhen the billing country is the U.S., the 9-digit postal code must follow this format:\n[5 digits][dash][4 digits]\n\nExample 12345-6789\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n[alpha][numeric][alpha][space][numeric][alpha][numeric]\n\nExample A1B 2C3\n\n#### American Express Direct\nBefore sending the postal code to the processor, all nonalphanumeric characters are removed and, if the\nremaining value is longer than nine characters, the value is truncated starting from the right side.\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n"},"country":{"type":"string","description":"Country of the shipping address. Use the two-character [ISO Standard Country Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf)\n\nRequired field for authorization if any shipping address information is included in the request; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S., Canadian, international tax, and value added taxes.\nBilling address objects will be used to determine the cardholder\u2019s location when shipTo objects are not present.\n","maxLength":2}}}}}}}},"400":{"description":"Invalid request.","schema":{"type":"object","title":"ptsV2RetrievePaymentTokenGet400Response","properties":{"id":{"type":"string","maxLength":26,"description":"An unique identification number generated by Cybersource to identify the submitted request. Returned by all services.\nIt is also appended to the endpoint of the resource.\nOn incremental authorizations, this value with be the same as the identification number returned in the original authorization response.\n"},"submitTimeUtc":{"type":"string","description":"Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\nThe `T` separates the date and the time. The `Z` indicates UTC.\n\nReturned by Cybersource for all services.\n"},"status":{"type":"string","description":"The status of the submitted transaction.\n\nPossible values:\n - INVALID_REQUEST\n"},"reason":{"type":"string","description":"The reason of the status.      \n\nPossible values:\n - INVALID_DATA\n - RESOURCE_NOT_FOUND\n"},"message":{"type":"string","description":"The detail message related to the status and reason listed above."},"details":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"This is the flattened JSON object field name/path that is either missing or invalid."},"reason":{"type":"string","description":"Possible reasons for the error.\n\nPossible values:\n - MISSING_FIELD\n - INVALID_DATA\n"}}}}}}},"502":{"description":"Internal server error.","schema":{"title":"ptsV2RetrievePaymentTokenGet502Response","type":"object","properties":{"submitTimeUtc":{"type":"string","description":"Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`\n**Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).\nThe `T` separates the date and the time. The `Z` indicates UTC.\n\nReturned by Cybersource for all services.\n"},"status":{"type":"string","description":"The status of the submitted transaction.\n\nPossible values:\n - SERVER_ERROR\n"},"reason":{"type":"string","description":"The reason of the status.\n\nPossible values:\n - INTERNAL_SERVER_ERROR\n"},"message":{"type":"string","description":"The detail message related to the status and reason listed above."},"id":{"type":"string","maxLength":26,"description":"An unique identification number generated by Cybersource to identify the submitted request. Returned by all services.\nIt is also appended to the endpoint of the resource.\nOn incremental authorizations, this value with be the same as the identification number returned in the original authorization response.\n"}}}}}}}}}